{% extends "admin/base.html" %}
{% load i18n %}
{% load admin_static %}

{% block title %}{{ title }} | DBaaS{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/admin-dbaas.css" %}" />
{% endblock %}

{% block branding %}
    <a href="{% url 'admin:index' %}" class="brand" id="site-name">DBaaS</a>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block js_footer %}
{{block.super}}
<link href='//fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
{% endblock js_footer %}
