{% extends "admin/base.html" %}
{% load i18n %}
{% load admin_static system_config %}

{% block title %}{{ title }} | DBaaS{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/admin-dbaas.css" %}" />
{% endblock %}

{% block branding %}
    <a href="{% url 'admin:index' %}" class="brand" id="site-name">DBaaS</a>
    {% get_configuration 'docs_url' 'config_docs_url' %}
    {% if config_docs_url %}
      <a href="{{ config_docs_url }}" target="_blank" class="brand" id="site-docs">Docs</a>
    {% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block js_footer %}
{{block.super}}
<link href={% static "admin/css/admin_fonts.css" %} rel='stylesheet' type='text/css'>
{% endblock js_footer %}
