<!-- Modal -->
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="delete modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ box_title }}</h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div role="form">
          <div class="form-group">
            <label for="id_database_name">
              <div class="modal_message">{{ confirmation_message }}<br><br><div ><b class="bold_red modal_extra_message" ></b></div></div>
            </label>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        {% block btn_no %}<button type="button" class="btn btn-default opa" data-dismiss="modal">No</button>{% endblock %}
        {% block btn_yes %}<{{ tag_type|default:"button" }} type= "{{ button_type|default:"button" }}"
          class="btn-accept-modal active {{ button_class|default:"btn btn-primary" }}"
          name="{{ button_name|default:"" }}"
          value="{{ button_value|default:"" }}"
          {{ dismiss_option|default:"" }}
          {{ id_optional|default:"" }}
          {{ extra_attributes|default:"" }}>Yes</{{ tag_type|default:"button" }}>{% endblock %}
      </div>
    </div>
  </div>
</div>
