{% extends "logical/database/metrics/metrics_base.html" %}

{% block graphs %}

    <ul class="nav nav-pills" id="navFinished" >
        <li><p class="navbar-text"><b>HOSTS:&nbsp;&nbsp;</b></p></li>
        {% for host in hosts %}
            <li {% ifequal hostname host %} class="active" {% endifequal %}>
                <a href="?hostname={{host}}">{{host}}</a>
            </li>
        {% endfor %}
    </ul>
        <style>
            .grafana_frame {
                display: block;
                background: #000;
                border: none;
                width: 100%;
                height: 1000px;
            }
        </style>

    <iframe id="grafana" class='grafana_frame' src="{{ grafana_url }}"></iframe>

    {% include "logical/database/metrics/graphs.html" %}

{% endblock %}


{% block footer %}
<script type="text/javascript">
    $('ul.nav.nav-pills li a').click(function() {
    $(this).parent().addClass('active').siblings().removeClass('active');
});
</script>
{% endblock %}
