*.pyc
*.orig
*.log
.idea/*
.DS_Store
*~
.coverage
coverage.xml
test-report.xml
\#*\#
*.bak
.wiki
dbaas/whoosh_index/*
.env
dump.rdb
.cache/
.ropeproject/
node_modules/
.vscode/
docker-compose.override.yml
dev/requirements*
dev/data
dev/lib
dev/debug_lib/*.list
dev/log
venv/
dev/etc
dev/dbaas-20210112.dump
.venv