Django==2.0.3
Flask==0.12.2
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
MySQL-python==1.2.5
Pillow==5.0.0
PyYAML==3.12
South==1.0.2
Unidecode==1.0.22
Werkzeug==0.14.1
Whoosh==2.7.4
amqp==2.2.2
anyjson==0.3.3
astroid==1.6.2
billiard==3.5.0.3
bootstrap-admin==0.3.9
celery==4.1.0
django-adminplus==0.5
django-auth-ldap==1.4.0
django-ckeditor-updated==4.4.4
django-email-extras==0.3.3
django-extensions==2.0.6
django-ganalytics==0.7.0
django-haystack==2.8.0
django-services==0.0.8
django-simple-audit==0.1.22
djangorestframework==3.7.7
django-celery==3.2.2
ecdsa==0.13
gunicorn==19.7.1
httpretty==0.8.14
itsdangerous==0.24
kombu==4.1.0
logilab-common==1.4.1
paramiko==2.4.1
pyasn1==0.4.2
pycrypto==2.6.1
pymongo==3.6.1
python-gnupg==0.4.2
python-keyczar==0.716
python-ldap==3.0.0
python-slugify==1.2.5
pytz==2018.3
raven==6.6.0
redis==2.10.6
redis-py-cluster-gcom==1.3.4
simple-db-migrate==3.0.0
six==1.11.0
sphinx-me==0.3
urllib3==1.22
wsgiref==0.1.2
dbaas_cloudstack==0.9.11
dbaas_credentials==1.1.14
dbaas_nfsaas==0.6.18
dbaas_zabbix==0.4.29
dbaas_dbmonitor==0.2.8
django-filter==1.1.0
dbaas-aclapi==0.1.10
dbaas_dnsapi==0.1.6
dbaas_networkapi==0.1.10
dbaas_foreman==0.1.4
dbaas_foxha==0.2.8
GloboNetworkAPI==0.8.5
Dex==0.6
click==6.7
requests==2.18.4
python-dateutil==2.7.2
django-redis==4.9.0
backstage_oauth2==0.1.3
django-all-access==0.9.0
oauthlib==2.0.4
requests-oauthlib==0.8.0
python-memcached==1.58
