Django==1.6.10
Flask==0.10.1
Jinja2==2.7.2
Markdown==2.3.1
MarkupSafe==0.18
MySQL-python==1.2.5
Pillow==2.3.0
PyYAML==3.10
South==1.0
Unidecode==0.04.14
Werkzeug==0.9.4
Whoosh==2.7.2
amqp==1.4.6
anyjson==0.3.3
astroid==1.0.0
billiard==3.3.0.19
bootstrap-admin==0.2.5
celery==3.1.17
django-adminplus==0.3
django-auth-ldap==1.1.4
django-ckeditor-updated==4.4
django-email-extras==0.1.13
django-extensions==1.2.2
django-ganalytics==0.2
django-haystack==2.1.0
django-services==0.0.8
django-simple-audit==0.1.22
djangorestframework==2.3.8
django-celery==3.1.9
ecdsa==0.11
gunicorn==19.6.0
httpretty==0.8.0
itsdangerous==0.23
kombu==3.0.35
logilab-common==0.60.0
paramiko==2.1.1
pyasn1==0.1.7
pycrypto==2.6
pymongo==3.7.2
python-gnupg==0.3.6
python-keyczar==0.71c
python-ldap==2.3.13
python-slugify==0.0.6
pytz==2013.7
raven==3.5.0
redis==2.10.6
redis-py-cluster-gcom==1.3.4
simple-db-migrate==1.5.3
six==1.10.0
sphinx-me==0.2.1
urllib3==1.7.1
wsgiref==0.1.2
dbaas_credentials==1.1.22
dbaas_nfsaas==0.7.10
dbaas_zabbix==0.5.1
dbaas_dbmonitor==0.2.8
django-filter==0.9.1
dbaas-aclapi==0.1.10
dbaas_dnsapi==0.1.9
dbaas_networkapi==0.1.10
dbaas_foreman==0.1.8
dbaas_foxha==0.2.8
GloboNetworkAPI==0.6.24
Dex==0.6
click==3.3
requests==2.5.1
python-dateutil==2.4.1
django-redis==4.4.4
backstage_oauth2==0.1.3
django-all-access==0.5.1
oauthlib==2.0.4
requests-oauthlib==0.8.0
python-memcached==1.58
dnspython==1.15.0
