Django==1.5.4
MySQL-python==1.2.3
PyYAML==3.10
South==0.8.2
Unidecode==0.04.14
astroid==1.0.0
boto==2.14.0
#bootstrap-admin==0.2.3
git+https://github.com/snbuback/django-admin-bootstrap.git#bootstrap-admin
distribute==0.7.3
django-adminplus==0.2.0
django-extensions==1.2.2
django-services==0.0.8
django-simple-audit==0.1.9
djangorestframework==2.3.8
gunicorn==0.17.2
logilab-common==0.60.0
pyasn1==0.1.7
pycrypto==2.6
pymongo==2.6.2
python-keyczar==0.71c
python-slugify==0.0.6
pytz==2013.7
raven==3.5.0
six==1.4.1
wsgiref==0.1.2
