{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify dbaas_tags %}

{% block extrahead %}

    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/mustache.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/database_admin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/credential.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/extra_dns.js' %}"></script>

    <script type="text/javascript" >
    django.jQuery(function() {
        {% ifequal original.engine_type "redis" %}
            CredentialManager.include({"credential" : {  "password": "{{original.databaseinfra.password}}", "pk": "001" } });
        {% else %}
            {% for credential in original.credentials.all %}
            CredentialManager.include({"credential" : { "user": "{{credential.user}}", "password": "{{credential.password}}", "pk": "{{credential.pk}}" } });
            {% endfor %}
        {% endifequal %}
        {% for extradns in original.extra_dns.all %}
        ExtraDnsManager.include({"extradns" : { "dns": "{{extradns.dns}}", "pk": "{{extradns.pk}}" } });
        {% endfor %}
    });
    </script>

{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/database_admin.css' %}" />
{% endblock %}


{% block after_related_objects %}


<fieldset class="module">

{% ifequal original.engine_type "redis" %}
 <h2>Password</h2>
<table id="table-credentials" class="table table-striped" data-database-id="{{original.pk}}" >
        <tbody>
            {% verbatim %}
            <script id="credential-template" type="text/template">
                <tr class="credential" data-credential-pk="{{credential.pk}}"  >
                    <td>
                        <a href="#" class="btn show-password"  data-content="{{credential.password}}" data-placement="right" data-container="body" data-toggle="popover" id="show_password_redis" >show password</a>
                     </td>
                </tr>
            </script>
            {% endverbatim %}
        </tbody>

</table>
{% else %}
 <h2>Credentials</h2>
    <table id="table-credentials" class="table table-striped" data-database-id="{{original.pk}}" >
        <thead>
            <tr>
                <th>user</th>
                <th>password</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% verbatim %}
            <script id="credential-template" type="text/template">
                <tr class="credential" data-credential-pk="{{credential.pk}}"  >
                    <td>{{credential.user}}</td>
                    <td>
                        <a href="#" class="btn show-password" title="{{credential.user}}" data-content="{{credential.password}}" >show password</a>
                        <a class="btn btn-warning btn-reset-password" href="#"><i class="icon-refresh"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-credential-remove" href="#"><i class="icon-trash icon-white"></i></a>
                    </td>
                </tr>
            </script>
            {% endverbatim %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <div class="add-row"><a href="javascript:void(0)" id="add-credential" ><i class="icon-plus-sign"></i> Add another user</a></div>
                </td>
            </tr>
        </tfoot>
    </table>
{% endifequal %}
</fieldset>


<h2>Endpoint</h2>
 <table id="table-credentials-endpoint" class="table table-striped" data-database-id="{{original.pk}}" >
     <tr class="credential" data-credential-pk="{{credential.pk}}"  >
         {{original.get_endpoint_dns}}
     </tr>
 </table>

<br>
  <h2>Extra Dns</h2>
    <table id="table-extradns" class="table table-striped" data-database-id="{{original.pk}}" >
        <thead>
            <tr>
                <th>DNS</th>
            </tr>
        </thead>
        <tbody>
            {% verbatim %}
            <script id="extradns-template" type="text/template">
                <tr class="extradns" data-extradns-pk="{{extradns.pk}}"  >
                    <td>{{extradns.dns}}</td>
                    {%if perms.extra_dns.delete_extradns %}
                        <td>
                            <a class="btn btn-danger btn-extradns-remove" href="#"><i class="icon-trash icon-white"></i></a>
                        </td>
                    {%endif%}
                </tr>
            </script>
            {% endverbatim %}
        </tbody>
        <tfoot>
            <tr>
                {%if perms.extra_dns.add_extradns %}
                    <td colspan="3">
                        <div class="add-row"><a href="javascript:void(0)" id="add-extradns" ><i class="icon-plus-sign"></i> Add another extra dns</a></div>
                    </td>
                {%endif%}
            </tr>
        </tfoot>
    </table>
{% if not original.get_is_preprovisioned %}
<h2>Monitoring</h2>
 <table id="table-mais" class="table table-striped">
    <tr >
        <div class="btn-toolbar">
            <div class="btn-group-lg">
                <a href="metrics" class="btn btn-primary" title="Metrics" data-content="Metrics">Metrics</a>
                {% if original.get_log_url %}
                <a href="{{original.get_log_url}}" class="btn btn-primary" title="Logs" data-content="Logs" target="_blank">Logs</a>
                {% endif %}
                {% if original.get_dex_url %}
                <a href="dex" class="btn btn-primary" title="Dex Advisor" data-content="Advisor" target="_blank"  data-loading-text="Loading..." id="adv_button">Dex advisor</a>
                {% endif %}
            </div>
        </div>
    </tr>
 </table>
    {% if original.restore_allowed %}
        <h2>Recovery</h2>
        <table id="table-mais" class="table table-striped">
            <tr >
                <div class="btn-toolbar">
                    <div class="btn-group-lg">
                        <a href="{{original.get_restore_url}}" class="btn btn-primary" title="Restore" data-content="Restore">Restore Snapshot</a>
                    </div>
                </div>
            </tr>
         </table>
    {% endif %}
    {% if original.is_mongodb_24 and has_perm_upgrade_mongo %}
            <h2>Engine Version Upgrade</h2>
             <table id="table-mais" class="table table-striped">
                <tr >
                    <div class="btn-toolbar">
                        <div class="btn-group-lg">
                            <a href="{{original.get_mongodb_engine_version_upgrade_url}}" class="btn btn-primary" title="StaEngVerUp" data-content="IniMigration" onclick="return confirm('Are you sure?')">Migrate MongoDB 2.4 to 3.0</a>
                        </div>
                    </div>
                </tr>
             </table>
    {% endif %}
     {% if can_upgrade %}
         <h2>Engine Version Upgrade</h2>
         <table id="table-mais" class="table table-striped">
             <tr>
             {% if retry_upgrade %}
                 <p><a href="{% url 'admin:maintenance_databaseupgrade_change' last_upgrade.id %}" target='_blank'>Last upgrade</a> has an <b>error</b>, please check the <a href="{% url 'admin:notification_taskhistory_change' last_upgrade.task.id %}" target='_blank'>task</a> and retry the database upgrade clicking in button below</p>
             {% endif %}
                 <div class="btn-toolbar">
                     <div class="btn-group-lg">
                         {% if retry_upgrade %}
                             <a href="{{original.get_upgrade_retry_url}}" class="btn btn-warning" title="Upgrade database" data-content="Start upgrade" onclick="return confirm('Are you sure?')">Retry migrate {{original.infra.engine_name}} {{original.infra.plan.engine.version}} to {{original.infra.plan.engine_equivalent_plan.engine.version}}</a>
                         {% else %}
                             <a href="{{original.get_upgrade_url}}" class="btn btn-primary" title="Upgrade database" data-content="Start upgrade" onclick="return confirm('Are you sure?')">Migrate {{original.infra.engine_name}} {{original.infra.plan.engine.version}} to {{original.infra.plan.engine_equivalent_plan.engine.version}}</a>
                         {% endif %}
                     </div>
                 </div>
             </tr>
         </table>
    {% endif %}
    {% if is_dba %}
         {% if original.is_mysql_flipper %}
            <h2>Flipper to FoxHA Migration</h2>
             <table id="table-mais" class="table table-striped">
                <tr >
                    <div class="btn-toolbar">
                        <div class="btn-group-lg">
                            <a href="{{original.get_flipperfox_migration_url}}" class="btn btn-primary" title="IniFlipFoxMigration" data-content="IniFlipFoxMigration">Initialize Flipper to FoxHA Migration</a>
                        </div>
                    </div>
                </tr>
             </table>
        {% endif %}
     {% endif %}
{% endif %}
{% endblock %}
{% block submit_buttons_bottom %}{% submit_row_extended %}{% endblock %}
