{% extends "admin/index.html" %}

{% load config_tags %}

{% block sidebar %}
  {{ block.super }}

{% if custom_list %}
<div class="container-fluid">
    <div class="row-fluid dashboard-tools">
        {% if perms.simple_audit.change_audit %}
        <div class="span3 recent-actions"></div>
        <div class="span9 app-list custom-list">
        {% else %}
        <div class="span12 app-list custom-list">
        {% endif %}
            <table class="table table-striped table-hover table-bordered table-condensed">
                <thead>
                    <tr>
                        <th><h3>Custom Views</h3></th>
                    </tr>
                </thead>
                <tbody>
                    {% for path, name in custom_list %}
                        {% if user|is_dba:name %}
                        <tr><td><a href="{{ path }}">{{ name }}</a></td></tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}