{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
{% endblock %}

{% block field_sets %}
{% for fieldset in adminform %}
    {% if fieldset.name == 'reuse_instance' %}
        <div class="controls">
            <label class="radio">
                <input name="new_instance" checked="checked" type="radio" value=""> <span>Use existing instances</span>
            </label>
        </div>
        <fieldset class="module aligned {{ fieldset.classes }}">
            {% for line in fieldset %}
                {% for field in line %}
                    {% include "admin/includes/field.html" %}
                {% endfor %}
            {% endfor %}
        </fieldset>
    {% elif fieldset.name == 'new_instance' %}
        <div class="controls">
            <label class="radio">
                <input name="new_instance" type="radio" value="on"> <span>Create new instances</span>
            </label>
        </div>
        <fieldset class="module aligned {{ fieldset.classes }}">
            {% for line in fieldset %}
                {% for field in line %}
                    {% if field.field.name == 'plan' %}
                        <p>Someone put a beautiful box plan here!! Please! I hope it would be ready when I come back! :)</p>
                        {% include "admin/includes/field.html" %}
                    {% else %}
                        {% include "admin/includes/field.html" %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </fieldset>
    {% else %}
        {% include "admin/includes/fieldset.html" %}
    {% endif %}
{% endfor %}
{% endblock %}
