<style>

     .plans-table{
        width: 100%;
     }
     .plans-table .plan-name{
        width: 30%;
     }

     .plans-table .plan-cpu{
        width: 25%;
     }

     .plans-table .plan-offering{
        width: 8%;
     }

     .plans-table .checkbox-cell {
        width: 8%;
     }

</style>