{% extends "logical/database/details/base.html" %}
{% load admin_static system_config %}

{% block extrastyle %}
  {{ block.super }}
  <style type="text/css">
    .bold_red {
      color: red;
    }
  </style>
{% endblock %}

{% block tab %}
<fieldset class="module aligned ">
  <div class="panel-heading">
  <h3 class="panel-title">Backup <i>(Daily)</i></h3>
</div>
<div class="panel-body">
  <div class="control-group">
    <div class="control-label"><label>Start:</label></div>
    <div class="controls">
      <select id="id_backup_hour" name="backup_hour">
        {% for backup_hour in backup_hours %}
          {% if backup_hour.0 == current_backup_hour %}
            <option value="{{ backup_hour.0 }}" selected="selected">*
          {% else %}
            <option value="{{ backup_hour.0 }}">
          {% endif %}
            {{ backup_hour.1 }}
            </option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

  {% if snapshots or is_dba %}
    <div class="panel-heading">
      <h3 class="panel-title">Restore/Backup</h3>
    </div>
    <div class="panel-body">
      <div class="control-group">
        <div class="control-label">
          <label>Snapshot:</label>
        </div>
        <div class="controls">
          <select class="span8" id="id_restore_snapshot" name="restore_snapshot">
            <option></option>
            {% for snapshot in snapshots reversed %}
              <option value="{{ snapshot.id }}" data-start-at="{{ snapshot.start_at|date:'Y-m-d H:i' }}">
                {{ snapshot }}
                {% if is_dba and not snapshot.is_automatic %}
                  (executed by user)
                {% endif %}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="control-group">
        <div class="control-label"></div>
        <div class="controls">
          <button data-toggle="modal" id="id_restore_btn" data-target="#restore_snapshot">Restore</button>
          {% if is_dba %}
            <button data-toggle="modal" id="id_backup_btn" data-target="#backup_database_modal" class="btn btn-primary"
            href-link="{% url 'admin:logical_database_make_backup' database.id %}" >Backup database now</button>
            <button class='btn' data-toggle="modal" id="delete_snapshot_btn" data-target="#delete_snapshot">Delete selected</button>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if database.databaseinfra.plan.replication_topology.can_clone_db %}
    <div class="panel-heading">
      <h3 class="panel-title" id="id_clone_title">Clone</h3>
      {% if cant_clone_db %}
        {% get_configuration "clone_size_limit" "size_limit" %}
        <h5 style='color:red;'>*Clone is only available for databases with size equal to {{ size_limit }}GB or smaller.</h5>
      {% endif %}
    </div>
    <div class="panel-body">
      <div class="control-group">
        <div class="control-label">
          <label>Destination database:</label>
        </div>
        <div class="controls">
          <input id="id_clone_name" maxlength="64" name="clone_name" type="text" {% if cant_clone_db %} disabled {% endif %}/>
        </div>
      </div>
      <div class="control-group">
        <div class="control-label">
          <label>Environment:</label>
        </div>
        <div class="controls">
          <select id="id_clone_env" name="clone_env" {% if cant_clone_db %} disabled {% endif %} >
            <option></option>
            {% for environment in environments %}
              <option value="{{ environment.id }}">{{ environment }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="control-group">
        <div class="control-label">
          <label>Plan:</label>
        </div>
        <div class="controls">
          <select id="id_clone_plan" name="clone_plan" {% if cant_clone_db %} disabled {% endif %}>
          </select>
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="control-label"></div>
      <div class="controls">
        <button value="Clone" name="database_clone" id="id_clone_btn" data-toggle="modal" data-target="#clone_database_modal">Clone</button>
      </div>
    </div>
  {% endif %}
  <div class="panel-heading">
    <h3 class="panel-title">Config</h3>
  </div>
  <div class="panel-body">
    <div class="control-group">
      <div class="control-label"><label>Backup path:</label></div>
      <div class="controls">
        {% if is_dba %}
          <input class="vTextField span8" id="id_backup_path" maxlength="300" name="backup_path" type="text" {% if database.backup_path %} value="{{ database.backup_path }}" {% endif %}/>
          <p class="help-block">Full path to backup file. (e.g: Staging path)</p>
        {% else %}
          <p class="readonly">{{ database.backup_path }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</fieldset>


{% include "admin/confirmation_modal_input.html" with modal_id="restore_snapshot" title="Restore snapshot" body_text="logical/modal/restore_snapshot.html" input_name="restore_yes" submit_button_value="Restore" submit_button_name="database_restore" submit_button_id="id_restore_btn_modal"   %}

{% if is_dba %}

  {% include "admin/confirmation_modal_input.html" with modal_id="delete_snapshot" title="Delete snapshot" body_text="logical/modal/delete_snapshot.html" input_name="delete_yes" submit_button_value="Delete" submit_button_name="snapshot_delete" submit_button_id="snapshot_delete_btn" %}

{% endif %}

{% include "admin/confirmation_modal.html" with tag_type="a" modal_id="backup_database_modal" confirmation_message="Are you sure you want to create a new snapshot?" box_title="Make backup now" button_class="btn btn-primary" id_optional="id=confirm_backup_button" %}


{% include "admin/confirmation_modal.html" with modal_id="clone_database_modal" confirmation_message="Are you sure you want to clone this database?" box_title="Cloning databse" button_type="submit" button_value="Clone" button_name="database_clone" id_optional="id=confirm_clone_btn" %}

{% endblock %}


{% block database_button_save %}
{% if is_dba %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block js_footer %}
{{ block.super }}

<script>
  plans = {
    {% for environment in environments %}
      '{{ environment.id }}': {
        {% for plan in plans %}
          {% if environment in plan.environments.all %}
            '{{ plan.id }}': '{{ plan }}',
          {% endif %}
        {% endfor %}
      },
    {% endfor %}
  };

  function clone_plan_update(environment) {
    select_plan = document.getElementById("id_clone_plan");
    selected = select_plan.value;

    select_plan.options.length = 0;
    if (environment != "") {
      for (var plan in plans[environment]){
        var option = document.createElement('option');
        option.value = plan
        option.innerHTML = plans[environment][plan];
        if (selected == plan) {
          option.selected="selected";
        }
        select_plan.appendChild(option);
      }
    }
  }

  function clone_btn_status() {
    btn = document.getElementById("id_clone_btn");
    name = $("#id_clone_name").val();
    env = $("#id_clone_env").val();
    plan = $("#id_clone_plan").val();
    if (name == "" || env == "" || plan == "") {
      btn.disabled = true;
      btn.className = 'btn';
    } else {
      btn.disabled = false;
      btn.className = 'btn btn-primary';
    }
  }

  jQuery(document).ready(function($) {


    function addSnapshotToModalMessage(modalId) {
      var data = $("#id_restore_snapshot").find(":selected").data()
      console.log(data)
      var $selected_snapshot = data.startAt
      $("#"+ modalId + " .modal_message").text('<'+$selected_snapshot+'>')
    }

    $("#delete_snapshot_btn").click(function(){
      addSnapshotToModalMessage("delete_snapshot")
    });

    $("#id_restore_btn").click(function(){
      addSnapshotToModalMessage("restore_snapshot")
    });

    var $backup_button = $("#id_backup_btn");
    $("#confirm_backup_button").attr("href", $backup_button.attr("href-link"));

    $("#id_clone_name").keyup(function() {
      clone_btn_status();
    });
    $("#id_clone_plan").on("change", function() {
      clone_btn_status();
    });
    $("#id_clone_env").on("change", function() {
      clone_plan_update($(this).val());
      clone_btn_status();
    });
    $("#id_clone_name").keyup()

    $("#id_restore_snapshot").on("change", function() {
      btn = document.getElementById("id_restore_btn");
      btn.disabled = $(this).val() == "";
      if (btn.disabled) {
        btn.className = 'btn';
      } else {
        btn.className = 'btn btn-primary';
      }

      {% if is_dba %}
        btn_delete = document.getElementById("delete_snapshot_btn")
        if ([
          {% for snapshot in snapshots %}
            {% if not snapshot.is_automatic %}
              '{{ snapshot.id }}',
            {% endif %}
          {% endfor %}
        ].includes($(this).val())) {
          btn_delete.disabled = false;
          btn_delete.className = 'btn btn-danger';
        } else {
          btn_delete.disabled = true;
          btn_delete.className = 'btn';
        }
      {% endif %}
    });
    $("#id_restore_snapshot").change()

    $("#id_restore_yes").keyup(function() {
      btn = document.getElementById("id_restore_btn_modal");
      btn.disabled = $(this).val() != "yes";
      if (btn.disabled) {
        $(btn).removeClass('btn-primary');
      } else {
        $(btn).addClass('btn-primary');
      }
    });
    $("#id_restore_yes").keyup()

    {% if is_dba %}
      $("#id_delete_yes").keyup(function() {
        btn = document.getElementById("snapshot_delete_btn");
        btn.disabled = $(this).val() != "yes";
        if (btn.disabled) {
          $(btn).removeClass('btn-danger');
        } else {
          $(btn).addClass('btn-danger');
        }
      });
      $("#id_delete_yes").keyup()
    {% endif %}
  })
</script>

{% if database.last_successful_upgrade %}
<script src="{% static "assets/js/jquery.min.js" %}"></script>
<script src="{% static "js/moment.min.js" %}"></script>
<script>
  jQuery('#restore_with_upgrade_div').hide();

  var upgrade_date = new Date("{{ database.last_successful_upgrade.finished_at.isoformat }}");
  var snapshot_select = document.getElementById("id_restore_snapshot");
  var snapshot_date_msg = document.getElementById("snapshot_date_msg");

  function formatted_date_time(date) {
    return moment(date).format('D/MM/YYYY') + ' at ' + moment(date).format('hh:mm:ss');
  };

  snapshot_select.onchange = function() {
    jQuery('#restore_with_upgrade_div').hide()

    var snapshot_id = snapshot_select.value;
    if (snapshot_id) {
      jQuery.ajax({
        "dataType": "json", "url": "/api/snapshot/" + snapshot_id, "type": "GET",
      }).done(function(data) {
        if (data.error) {
          alert(data.error);
        } else {
          snapshot_date = new Date(data.start_at);
          if (upgrade_date >= snapshot_date) {
            snapshot_date_msg.innerHTML = "ATTENTION: This database version was upgraded from {{ database.last_successful_upgrade.source_plan.engine.version }} to {{ database.last_successful_upgrade.target_plan.engine.version }} on " + formatted_date_time(upgrade_date) + " and you are trying to restore a snapshot from " + formatted_date_time(snapshot_date) + ", it may be <b class='bold_red'>incompatible</b>";
            jQuery('#restore_with_upgrade_div').show();
          }
        }
      }).fail(function() {
          alert("invalid server response");
      });
    }
  };
  snapshot_select.onchange();
</script>
{% endif %}

{% endblock %}
