{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block title %}
  {{ database.name }}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/database_admin.css' %}" />
  <style type="text/css">
    .readonly {
      padding-top: 5px
    }

    .title_tag {
      vertical-align: middle;
      margin-left: 5px;
      background-color: #f89406 !important;
    }

    .loader {
      border: 3px solid #d3c3d3; /* Light grey */
      border-top: 3px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 15px;
      height: 15px;
      animation: spin 0.8s linear infinite;
      display: inline-block;
      vertical-align: middle;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
{% endblock %}

{% block content_title %}
  <h1>
    Database: {{ database.name }}
    {% if database.is_in_quarantine %}
      <span class="label label-warning title_tag">In quarantine</span>
    {% endif %}
    <a target="_blank" id="task_running"></a>
    <div id="running_label"></div>
  </h1>
{% endblock %}

{% block content %}
  <div>
    {% block tabs %}
      <ul class="nav nav-tabs">
        <li role="presentation" {% if current_tab == 'details' %} class="active" {% endif %}><a href="{% url 'admin:logical_database_details' database.id %}">Details</a></li>
        <li role="presentation" {% if current_tab == 'credentials' %} class="active" {% endif %}><a href="{% url 'admin:logical_database_credentials' database.id %}">Credentials</a></li>
        <li role="presentation" {% if current_tab == 'metrics' %} class="active" {% endif %}><a href="{% url 'admin:logical_database_metrics' database.id %}">Metrics</a></li>
        <li role="presentation" {% if current_tab == 'resizes/upgrade' %} class="active" {% endif %}><a href="{% url 'admin:logical_database_resizes' database.id %}">Resizes/Upgrade</a></li>
        <li role="presentation" {% if current_tab == 'hosts' %} class="active" {% endif %}><a href="{% url 'admin:logical_database_hosts' database.id %}">Hosts</a></li>
        <li role="presentation" {% if current_tab == 'backup' %} class="active" {% endif %}><a href="{% url 'admin:logical_database_backup' database.id %}">Backup</a></li>
        <li role="presentation" {% if current_tab == 'dns' %} class="active" {% endif %}><a href="{% url 'admin:logical_database_dns' database.id %}">DNS</a></li>
        {% if database.can_modify_parameters and database.plan.replication_topology.can_change_parameters %}
          <li role="presentation" {% if current_tab == 'parameters' %} class="active" {% endif %}><a href="{% url 'admin:logical_database_parameters' database.id %}">Parameters</a></li>
        {% endif %}
        {% if database.is_host_migrate_available and is_dba %}
          <li role="presentation" {% if current_tab == 'migrate' %} class="active" {% endif %}><a href="{% url 'admin:logical_database_migrate' database.id %}">Migrate</a></li>
        {% endif %}
        <li role="presentation" {% if current_tab == 'destroy' %} class="active" {% endif %}><a href="{% url 'admin:logical_database_destroy' database.id %}">Destroy</a></li>
      </ul>
    {% endblock %}
  </div>

  <div class="content-main">
    <form enctype="multipart/form-data" action="" method="post" id="database_form" class="form-horizontal well">
      {% csrf_token %}
      {% block tab %}
      {% endblock %}
      {% block database_button_save %}
      <div class="form-actions navbar navbar-fixed-bottom">
        <div class="container">
          <div class="pull-left save-options-box">
            <input type="submit" value="Save" name="_save" onclick=&quot;submitOrderForm();&quot; class="btn btn-primary"/>
          </div>
        </div>
      </div>
      {% endblock %}
    </form>
  </div>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    <li>
      <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
      <span class="divider">/</span>
    </li>
    <li>
      <a href="/admin/logical/">{% trans 'Logical' %}</a>
      <span class="divider">/</span>
    </li>
    <li>
      <a href="/admin/logical/database/">{% trans 'Databases' %}</a>
      <span class="divider">/</span>
    </li>
    <li class="active">{{ database.name }}</li>
  </ul>
{% endblock %}

{% block js_footer_commons %}
  {{ block.super }}
  <script src="{% static "admin/js/jquery.js" %}">
  <script type="text/javascript" src="{% static "admin/js/bootstrap.min.js" %}"></script>

  <script type="text/javascript">
    spin = document.getElementById("running_label");

    jQuery('#task_running').hide();
    label = document.getElementById("task_running");
    label.className = "label label-warning title_tag";

    function database_current_task() {
      $.get("/notification/database_tasks/{{ database.id }}/", function(data, status){
        if ("id" in data) {
          label = document.getElementById("task_running");
          label.innerHTML = data["status"] + ": " + data["name"] + " (" + data["step"] + ")";
          label.href = "/admin/notification/taskhistory/" + data["id"];
          jQuery('#task_running').show();
          spin.className = "loader";
          jQuery('#running_label').show();
         } else {
          jQuery('#task_running').hide();
          jQuery('#running_label').hide();
         }
      });
    }
    database_current_task();
    setInterval(database_current_task, 10000);

  </script>
{% endblock %}
