{% extends "logical/database/details/base.html" %}
{% load capacity admin_static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/progress_bar.css' %}" />
{% endblock extrastyle %}
{% block tab %}
<div>
    <canvas id="costChart"></canvas>
</div>
{% endblock %}

{% block js_footer %}
{{ block.super }}
<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
<script src="{% static "admin/js/chart.js" %}"></script>
<script>
var costApi="{{ cost_api }}";
var infraName="{{ infra_name }}";


$(document).ready(function(){
    $.get(costApi + infraName, function(data){
        var [labels, costs] = [[], []];
        data.items.forEach(function(item){
            labels.push(item.usage_date)
            costsgit .push(item.cost)
        })
        const chartData = {
            labels: labels,
            datasets: [{
                label: 'Database cost',
                data: costs,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        };

        const config = {
            type: 'line',
            data: chartData,
          };

        const costChart = new Chart(
            document.getElementById('costChart'),
            config
        );
    })
})
</script>

{% endblock %}
