{% extends "logical/database/details/base.html" %}
{% load capacity admin_static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/progress_bar.css' %}" />
{% endblock extrastyle %}
{% block tab %}
<div class="row-fluid">
    <div class="chartBox span9">
        <canvas id="costChart"></canvas>
    </div>
    <div class="costtotals span3">
        <div class="alert alert-info">
            <h2>Total:</h2>
            <p class="totalvalue"></p>
        </div>
        <div class="alert alert-info">
            <h2>Period:</h2>
            <p class="periodvalue"></p>
        </div>
    </div>
</div>
<div class="row-fluid" style="margin-top: 3em;">
    <table id="details-table" class="stripe hover dt-head-center">
        <thead>
            <tr>
                <th>DB Name</th>
                <th>Date</th>
                <th>Total Cost</th>
                <th>Infra Cost</th>
                <th>DBaaS Cost</th>
                <th>Service</th>
                <th>SKU</th>
                <th>Utilization</th>
                <th>Utilization Metric</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
            <tr>
                <th>DB Name</th>
                <th>Date</th>
                <th>Total Cost</th>
                <th>Infra Cost</th>
                <th>DBaaS Cost</th>
                <th>Service</th>
                <th>SKU</th>
                <th>Utilization</th>
                <th>Utilization Metric</th>
            </tr>
        </tfoot>
    </table>
</div>

{% endblock %}

{% block js_footer %}
{{ block.super }}
<style>
.totalvalue, .periodvalue{
    font-size: 2em;
    line-height: 1.4em;
}
</style>
<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
<script src="{% static "admin/js/chart.js" %}"></script>
<script>
var costApi="{{ cost_api }}";
var infraName="{{ infra_name }}";

$(document).ready(function(){
    $(".form-actions").hide();
    $("#details-table").hide(); // hide table headers while there is no data

    var todayDate = new Date();
    var [past30daysDate] = new Date(new Date().setDate(todayDate.getDate() - 30)).toISOString().split("T"); // get the date from "today" minus 30 days, and format it to ISO string whitout the time Eg. (2022-07-02)
    todayDate = todayDate.toISOString().split("T")[0]; // convert "today" Date object to ISO string without the time. Eg. (2022-08-01)

    var url = `${costApi}${infraName}/${past30daysDate}/${todayDate}`
    $.get(url, function(data){
        var [labels, costs] = [[], []];
        data.items.forEach(function(item){
            var index = labels.indexOf(item.usage_date);
            if (index !== -1) {
                costs[index] += item.cost;
            } else {
                labels.push(item.usage_date);
                costs.push(item.cost);
            }
        })

        const chartData = {
            labels: labels,
            datasets: [{
                label: 'Database cost',
                data: costs,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1,
            }]
        };
        $("#details-table").show();
        $('#details-table').DataTable({
            data: data.items,
            columns: [
                {data: 'database_name'},
                {data: 'usage_date'},
                {
                    data: 'cost',
                    render: function (data, type, row) {
                        return parseFloat(data).toFixed(2)
                    }
                },
                {
                    data: 'cost_infra',
                    render: function (data, type, row) {
                        return parseFloat(data).toFixed(2)
                    }
                },
                {
                    data: 'cost_dbaas',
                    render: function (data, type, row) {
                        return parseFloat(data).toFixed(2)
                    }
                },
                {data: 'infra_service_description'},
                {data: 'infra_sku_description'},
                {data: 'utilization'},
                {data: 'utilization_metric'}
            ],
            pageLength: 25
        });

        const config = {
            type: 'line',
            data: chartData,
          };

        const costChart = new Chart(
            document.getElementById('costChart'),
            config
        );

        $(".totalvalue").html(
            parseFloat(data.totals.cost).toFixed(2) + 
            " (" + data.totals.cost_currency + ")"
        );

        $('.periodvalue').html(
          "From " + data.totals.date_start +
          "<br>To " + data.totals.date_end + 
          "<br>(" + data.totals.days + " days)"
        );


    }).fail(function(err) {
        console.error("COST API ERROR::", err)
        var msg = "<p>Error while get chart data</p>";
        if (err.status === 404){
            msg = "<p>Database infra not found on cost api</p>";
        }
        $(".chartBox").html(msg);
        $(".costtotals").hide()
      })
})
</script>

{% endblock %}