{% extends "logical/database/details/base.html" %}
{% load admin_static util %}

{% block tab %}
<fieldset class="module aligned ">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Endpoint</h3>
    </div>
    <div class="panel-body">
      {{ database.get_endpoint_dns }}
    </div>
  </div>
  <div class="panel panel-default">
    {% if database.engine.has_users %}
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="panel-body">
        <table id="table-credentials" class="table table-striped" data-database-id="{{database.pk}}" >
          <thead>
              <tr>
                <th>user</th>
                <th>password</th>
                <th></th>
              </tr>
          </thead>
          <tbody>
            {% verbatim %}
              <script id="credential-template" type="text/template">
                <tr class="credential" data-credential-pk="{{credential.pk}}"  >
                  <td>
                    {{credential.user}}
                  </td>
                  <td>
                    <a href="#" class="btn show-password"  data-content="{{credential.password}}" data-placement="right" data-container="body" data-toggle="popover" id="show_password" >show password</a>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#reset_psw_modal-{{ credential.pk }}" id="create_new_password-{{ credential.pk }}">
                      Change
                    </a>
                  </td>
                  <td>
                    <a class="btn btn-danger btn-credential-remove" href="#"><i class="icon-trash icon-white"></i></a>
                  </td>
                </tr>
              </script>
            {% endverbatim %}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">
                <div class="add-row">
                  <a href="javascript:void(0)" id="add-credential" ><i class="icon-plus-sign"></i> Add another user</a>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    {% else %}
      <div class="panel-heading">
        <h3 class="panel-title">Password</h3>
      </div>
      <div class="panel-body">
        <table id="table-credentials" class="table table-striped" data-database-id="{{database.pk}}" >
          <tbody>
            {% verbatim %}
              <script id="credential-template" type="text/template">
                <tr class="credential" data-credential-pk="{{credential.pk}}"  >
                  <td>
                    <a href="#" class="btn show-password"  data-content="{{credential.password}}" data-placement="right" data-container="body" data-toggle="popover" id="show_password" >show password</a>
                  </td>
                </tr>
              </script>
            {% endverbatim %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
</fieldset>

{% if database.engine.has_users %}
  {% for credential in database.credentials.all %}
    {% concat "reset_psw_modal-" credential.pk "modal_id" %}
    {% include "admin/confirmation_modal.html" with modal_id=modal_id confirmation_message="Are you sure you want to create a new password?" box_title="Creating new password" button_class="btn btn-primary btn-reset-password" dismiss_option="data-dismiss=modal" id_optional="id=id_change_password_btn_modal" %}
  {% endfor %}
{% endif %}


{% endblock %}

{% block js_footer %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/mustache.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/credential.js' %}"></script>
  <script type="text/javascript" >
    django.jQuery(function() {
      {% if database.engine.has_users %}
        {% for credential in database.credentials.all %}
          CredentialManager.include({"credential" : { "user": "{{credential.user}}", "password": "{{credential.password}}", "pk": "{{credential.pk}}" } });
        {% endfor %}
      {% else %}
        CredentialManager.include({"credential" : {  "password": "{{ database.databaseinfra.password }}", "pk": "001" } });
      {% endif %}

    });


  </script>
{% endblock %}

{% block database_button_save %}
{% endblock %}
