{% extends "logical/database/details/base.html" %}
{% load admin_static logical_util %}

{% block extrastyle %}
  {{ block.super }}
  <style type="text/css">
    .setup_ssl_button {
        margin-left: 20px
    }

    .bold_red {
      color: red;
    }

    .btn-primary {
      margin-left: 5px;
    }

    select#privileges.span {
      margin-left: 5px;
    }
  </style>
{% endblock %}


{% block tab %}

<fieldset class="module aligned ">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Endpoint</h3>
    </div>
    <div class="panel-body">
      {{ database.get_endpoint_dns }}
    </div>
  </div>
  <div class="panel panel-default">
    {% if database.engine.has_users %}
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="panel-body">
        <table id="table-credentials" class="table table-striped" data-database-id="{{database.pk}}" >
          <thead>
              <tr>
                <th>User</th>
                <th>Password</th>
                <th>Role</th>
                {% if database.infra.ssl_configured and database.infra.set_require_ssl_for_users %}
                  <th>SSL Required <a href='#' class='icon-info-sign' id='ssl-info'
                     data-toggle='popover' title='SSL info' data-content='Tells the server to permit only encrypted connections for the user'></a></th>
                {% endif %}
                <th></th>
              </tr>
          </thead>
          <tbody>

            {% if database.infra.ssl_configured and database.infra.set_require_ssl_for_users %}

              {% verbatim %}
                <script id="credential-template" type="text/template">
                  <tr class="credential" data-credential-pk="{{credential.pk}}"  >
                    <td>
                      {{credential.user}}
                    </td>
                    <td>
                      <a href="#" class="btn copy-password" data-content="{{credential.password}}" id="copy_password">Copy password</a>
                      <a class="btn btn-primary" data-toggle="modal" data-target="#reset_psw_modal-{{ credential.pk }}" id="create_new_password-{{ credential.pk }}">
                        Change
                      </a>
                    </td>
                    <td>
                      {{credential.privileges}}
                    </td>

                    <td>
                      <input class="swap-ssl-class" type="checkbox" {{credential.checked}} data-toggle="modal" data-target="#swap_force_ssl_modal-{{ credential.pk }}" id="swap_ssl_mode-{{ credential.pk }}" >
                    </td>

                    <td>
                      <a class="btn btn-danger btn-credential-remove" href="#" data-toggle="modal" data-target="#remove_credential_modal-{{ credential.pk }}" id="remove_credential-{{ credential.pk }}"><i class="icon-trash icon-white"></i></a>
                    </td>


                  </tr>
                </script>
              {% endverbatim %}

            {% else %}

              {% verbatim %}
                <script id="credential-template" type="text/template">
                  <tr class="credential" data-credential-pk="{{credential.pk}}"  >
                    <td>
                      {{credential.user}}
                    </td>
                    <td>
                      <a href="#" class="btn copy-password" data-content="{{credential.password}}" id="copy_password">Copy password</a>
                      <a class="btn btn-primary" data-toggle="modal" data-target="#reset_psw_modal-{{ credential.pk }}" id="create_new_password-{{ credential.pk }}">
                        Change
                      </a>
                    </td>
                    <td>
                      {{credential.privileges}}
                    </td>
                    <td>
                      <a class="btn btn-danger btn-credential-remove" href="#" data-toggle="modal" data-target="#remove_credential_modal-{{ credential.pk }}"id="remove_credential-{{ credential.pk }}"><i class="icon-trash icon-white"></i></a>
                    </td>


                  </tr>
                </script>
              {% endverbatim %}

            {% endif %}


          </tbody>
          <tfoot>
            <tr>
              <td colspan="100%">
                <div class="add-row">
                  <a href="javascript:void(0)" id="add-credential" ><i class="icon-plus-sign"></i> Add another user</a>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    {% else %}
      <div class="panel-heading">
        <h3 class="panel-title">Password</h3>
      </div>
      <div class="panel-body">
        <table id="table-credentials" class="table table-striped" data-database-id="{{database.pk}}" >
          <tbody>
            {% verbatim %}
              <script id="credential-template" type="text/template">
                <tr class="credential" data-credential-pk="{{credential.pk}}"  >
                  <td>
                    <a href="#" class="btn copy-password" data-content="{{credential.password}}" id="copy_password">Copy password</a>
                  </td>
                </tr>
              </script>
            {% endverbatim %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>



  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">SSL</h3>
    </div>
    <div class="panel-body">

      <h5>{{ ssl_detail }}</h5>

      {% if can_setup_ssl  %}
        {% if last_configure_ssl %}
          {%if last_configure_ssl.is_status_error %}
            <button data-toggle="modal" id="retry_setup_ssl_btn" data-target="#retry_setup_ssl" class="btn btn-primary retry_setup_ssl_button">Retry configure SSL</button>
            <p><a href="/admin/maintenance/databaseconfiguressl/{{last_configure_ssl.id}}/" target='_blank'>Last configure SSL</a> has an <b>error</b>, please check the <a href="{% url 'admin:notification_taskhistory_change' last_configure_ssl.task.id %}" target='_blank'>task</a> and retry the configure SSL clicking in button above</p>
          {% else %}
            <button disabled data-toggle="modal" id="setup_ssl_btn" data-target="#setup_ssl" class="btn btn-primary setup_ssl_button">Configure SSL</button>
          {% endif %}
        {% else %}
            <button data-toggle="modal" id="setup_ssl_btn" data-target="#setup_ssl" class="btn btn-primary setup_ssl_button">Configure SSL</button>
        {% endif %}
      {% endif %}
      {% if can_set_ssl_required %}
        <button data-toggle="modal" id="set_ssl_required_btn" data-target="#set_ssl_required" class="btn btn-primary">Set SSL Required</button>
      {% endif %}

      {% if can_set_ssl_not_required %}
        <button data-toggle="modal" id="set_ssl_not_required_btn" data-target="#set_ssl_not_required" class="btn btn-primary">Set SSL Not Required</button>
      {% endif %}

      {% if can_set_ssl_required_retry %}
        <button data-toggle="modal" id="retry_set_ssl_required_btn" data-target="#retry_set_ssl_required" class="btn btn-primary">Retry Set SSL Required</button>
        <p><a href="/admin/maintenance/databasesetsslrequired/{{last_set_ssl_required.id}}/" target='_blank'>Last Set SSL Required</a> has an <b>error</b>, please check the <a href="{% url 'admin:notification_taskhistory_change' last_set_ssl_required.task.id %}" target='_blank'>task</a> and retry the Set SSL Required clicking in button above</p>
      {% endif %}

      {% if can_set_ssl_not_required_retry %}
        <button data-toggle="modal" id="retry_set_ssl_not_required_btn" data-target="#retry_set_ssl_not_required" class="btn btn-primary">Retry Set SSL Not Required</button>
        <p><a href="/admin/maintenance/databasesetsslnotrequired/{{last_set_ssl_not_required.id}}/" target='_blank'>Last Set SSL Not Required</a> has an <b>error</b>, please check the <a href="{% url 'admin:notification_taskhistory_change' last_set_ssl_not_required.task.id %}" target='_blank'>task</a> and retry the Set SSL Not Required clicking in button above</p>
      {% endif %}

    </div>
  </div>
</fieldset>

{% if database.engine.has_users %}
  {% for credential in database.credentials.all %}

    {% concat "modal_id"  "reset_psw_modal-" credential.pk %}
    {% include "admin/confirmation_modal_input.html" with username=credential.user modal_id=modal_id title="Change Password" body_text="logical/modal/change_user_pass.html" input_name="change_password_yes" class="btn-reset-password" submit_button_value="Change Password" submit_button_name="change_password" submit_button_id="id_change_password_modal" %}
    {% concat "modal_id" "swap_force_ssl_modal-" credential.pk %}
    {% include "admin/confirmation_modal.html" with modal_id=modal_id confirmation_message="Are you sure you want to swap SSL mode?" box_title="Swap SSL mode" button_class="btn btn-primary btn-swap-force-ssl" dismiss_option="data-dismiss=modal" id_optional="id=id_swap_force_ssl_btn_modal" %}

    {% concat "modal_id" "remove_credential_modal-" credential.pk %}
    {% concat "confirmation_message" "Are you sure you want to delete user " credential.user "?"%}
    {% include "admin/confirmation_modal.html" with modal_id=modal_id confirmation_message=confirmation_message box_title="Delete User" button_class="btn btn-primary btn-credential-remove" dismiss_option="data-dismiss=modal"  id_optional="id=id_remove_credential_btn_modal" %}


  {% endfor %}
{% endif %}


{% include "admin/confirmation_modal_input.html" with modal_id="setup_ssl" title="Configure SSL" body_text="logical/modal/setup_ssl.html" input_name="setup_ssl_yes" class="btn btn-primary" submit_button_value="Configure SSL" submit_button_name="setup_ssl" submit_button_id="id_setup_ssl_modal" %}
{% include "admin/confirmation_modal.html" with modal_id="retry_setup_ssl" confirmation_message="Do you want to try retry configure SSL again?" box_title="Configure SSL" button_type="submit" button_value="Retry Configure SSL" button_name="retry_setup_ssl" %}

{% include "admin/confirmation_modal_input.html" with modal_id="set_ssl_required" title="Set SSL Required" body_text="logical/modal/set_ssl_required.html" input_name="set_ssl_required_yes" class="btn btn-primary" submit_button_value="Set SSL Required" submit_button_name="set_ssl_required" submit_button_id="id_set_ssl_required_modal" %}
{% include "admin/confirmation_modal.html" with modal_id="retry_set_ssl_required" confirmation_message="Do you want to try retry set SSL required again?" box_title="Set SSL Required" button_type="submit" button_value="Retry Set SSL Required" button_name="retry_set_ssl_required" %}

{% include "admin/confirmation_modal_input.html" with modal_id="set_ssl_not_required" title="Set SSL Not Required" body_text="logical/modal/set_ssl_not_required.html" input_name="set_ssl_not_required_yes" class="btn btn-primary" submit_button_value="Set SSL Not Required" submit_button_name="set_ssl_not_required" submit_button_id="id_set_ssl_not_required_modal" %}
{% include "admin/confirmation_modal.html" with modal_id="retry_set_ssl_not_required" confirmation_message="Do you want to try retry set SSL not required again?" box_title="Set SSL Not Required" button_type="submit" button_value="Retry Set SSL Not Required" button_name="retry_set_ssl_not_required" %}


{% endblock %}

{% block js_footer %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/mustache.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/credential.js' %}"></script>
  <script type="text/javascript" >
    django.jQuery(function() {
      {% if database.engine.has_users %}
        {% for credential in database.credentials.all %}
          var checked = {% if credential.force_ssl %} "checked" {% else %} "" {% endif %};
          CredentialManager.include({"credential" : { "user": "{{credential.user}}", "password": "{{credential.password}}",
            "pk": "{{credential.pk}}", "ssl_swap_label":"{{credential.ssl_swap_label}}",
            "checked" : checked,
            "privileges": "{{credential.privileges}}",
            }});
        {% endfor %}
      {% else %}
        CredentialManager.include({"credential" : {  "password": "{{ database.databaseinfra.password }}", "pk": "001" } });
      {% endif %}

    });
  </script>


<script>
  function status_resize(btn_id, current_value, selected_value) {
    btn = document.getElementById(btn_id)
    btn.disabled = current_value == selected_value
    if (btn.disabled){
      btn.className = 'resize_button btn';
    } else {
      btn.className = 'resize_button btn btn-primary';
    }
  }

  jQuery(document).ready(function($) {

    $("#id_set_ssl_required_yes").keyup(function() {
      btn = document.getElementById("id_set_ssl_required_modal");
      btn.disabled = $(this).val() != "yes";
      if (btn.disabled) {
        $(btn).removeClass ('btn-primary');
      } else {
        $(btn).addClass('btn-primary');
      }
    });
    $("#id_set_ssl_required_yes").keyup();

    $("#id_set_ssl_not_required_yes").keyup(function() {
      btn = document.getElementById("id_set_ssl_not_required_modal");
      btn.disabled = $(this).val() != "yes";
      if (btn.disabled) {
        $(btn).removeClass ('btn-primary');
      } else {
        $(btn).addClass('btn-primary');
      }
    });
    $("#id_set_ssl_not_required_yes").keyup();

    $("#id_setup_ssl_yes").keyup(function() {
      btn = document.getElementById("id_setup_ssl_modal");
      btn.disabled = $(this).val() != "yes";
      if (btn.disabled) {
        $(btn).removeClass ('btn-primary');
      } else {
        $(btn).addClass('btn-primary');
      }
    });
    $("#id_setup_ssl_yes").keyup();

    $(".confirm_change_password_yes").keyup(function() {
      var $el =  $(this).closest("div.modal").find("#id_change_password_modal");
      if ($(this).val() != "yes") {
        $el.attr("disabled", true);
        $el.removeClass('btn-primary');
      } else {
        $el.removeAttr("disabled");
        $el.addClass('btn-primary');
      }
    });

  })

</script>


{% endblock %}

{% block database_button_save %}
{% endblock %}
