{% extends "logical/database/details/base.html" %}


{% block extrastyle %}
  {{ block.super }}
  <style type="text/css">
    .action_button {
        margin-left: 20px
    }

    .bold_red {
      color: red;
    }
  </style>
{% endblock %}


{% block tab %}
<fieldset class="module aligned ">
  {% if database.is_in_quarantine %}
    <div class="control-group">
      <div class="control-label"><label>Quarantine since:</label></div>
      <div class="controls">
        <p class="readonly">
          {{ database.quarantine_dt }}
          {% if is_dba %}
            <a data-toggle="modal" data-target="#undo_quarantine_modal" class="btn btn-primary" id="id_undo_quarantine">Undo Quarantine</a>
          {% endif %}
        </p>
      </div>
      <div class="control-label"><label>Requested by:</label></div>
      <div class="controls">
        <p class="readonly">
          {{ database.quarantine_user }}
        </p>
      </div>
    </div>
  {% endif %}
  <div class="control-group">
    <div class="control-label"></div>
    <div class="controls">
    </div>
  </div>
  <div class="control-group">
    <div class="control-label"></div>
    <div class="controls">
      {% if not database.is_in_quarantine and is_dba %}
      <button class="btn btn-danger" data-toggle="modal" data-target="#delete_modal">Put in quarantine</button>
      {% else %}
      <button class="btn btn-danger" data-toggle="modal" data-target="#delete_modal">Delete Database</button>
      {% endif %}
    </div>
  </div>
</fieldset>

{% include "admin/confirmation_modal_input.html" with modal_id="delete_modal" title="Delete database" body_text="logical/modal/delete_database.html" input_name="database_name" submit_button_value="Delete" submit_button_name="database_destroy" submit_button_id="id_destroy_btn"   %}

{% include "admin/confirmation_modal.html" with modal_id="undo_quarantine_modal" confirmation_message="Are you sure you want to get the database out of quarantine?" box_title="Undo quarantine now" button_class="btn btn-primary" button_type="submit" button_value="Undo Quarantine" button_name="undo_quarantine" id_optional="id=confirm_undo_quarantine_button" %}

{% endblock %}


{% block database_button_save %}
{% endblock %}


{% block js_footer %}
{{ block.super }}

<script>
  jQuery(document).ready(function($) {
    $("#id_database_name").keyup(function() {
      btn = document.getElementById('id_destroy_btn')
      btn.disabled = '{{ database.name }}' != $(this).val();
      if (btn.disabled){
        btn.className = 'resize_button btn';
      } else {
        btn.className = 'resize_button btn btn-danger';
      }
    });
    $("#id_database_name").keyup()

  })
</script>

{% endblock %}
