{% extends "logical/database/details/base.html" %}
{% load capacity admin_static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/progress_bar.css' %}" />
{% endblock extrastyle %}
{% block tab %}

<fieldset class="module aligned ">
  <div class="control-group">
    <div class="control-label"><label>Status:</label></div>
    <div class="controls" id="status-tag">
      {{ database.status_html }}
      <a type="button" class="btn btn-primary refresh-status" type="submit" value="Refresh" title="Status" id="id_status">
        Update status
      </a>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label"><label>Logs:</label></div>
    <div class="controls">
      <a href="{{ database.get_log_url }}" class="btn btn-primary" title="Logs" data-content="Logs" target="_blank">
        <i class="icon-eye-open icon-white"></i>
      </a>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label"><label>Monitoring:</label></div>
    <div class="controls">
      <a class="btn {% if database.is_monitoring %}btn-info{% endif %}{% if not database.is_monitoring %}btn-success{% endif %}" title="is-monitored" data-content="Is monitored" target="_blank" id="id_monitoring_disabled" disabled>
        {% if database.is_monitoring %}
            Desativar
        {% endif %}
        {% if not database.is_monitoring %}
            Ativar
        {% endif %}
      </a>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label"><label>Start/Stop Database:</label></div>
    <div class="controls">
      <a class="btn {% if database.status == database.DEAD %}btn-success{% else %}btn-danger{% endif %}" title="start-stop-database" data-content="Start/Stop Database" target="_blank" id="id_start_stop_database" {{ btn_start_stop_is_disabled }}>
        {% if database.status == database.DEAD %}
            Start Database
        {% else %}
            Stop Database
        {% endif %}
      </a>
      {%if last_start_database and last_start_database.is_status_error %}
        <a class="resize_button btn btn-warning" href="{% url 'admin:start_database_vm_retry' last_start_database.id %}" title="Go to disk resize page">Retry</a>
        <p><a href="{% url 'admin:maintenance_databasestartdatabasevm_change' last_start_database.id %}" target='_blank'>Last start database </a> has an <b>error</b>, please check the <a href="{% url 'admin:notification_taskhistory_change' last_start_database.task.id %}" target='_blank'>task</a> and do retry of upgrade disk type by clicking in one of above buttons</p>
      {% endif %}
      {%if last_stop_database and last_stop_database.is_status_error %}
        <a class="resize_button btn btn-warning" href="{% url 'admin:stop_database_vm_retry' last_stop_database.id %}" title="Go to disk resize page">Retry</a>
        <p><a href="{% url 'admin:maintenance_databasestopdatabasevm_change' last_stop_database.id %}" target='_blank'>Last stop database </a> has an <b>error</b>, please check the <a href="{% url 'admin:notification_taskhistory_change' last_stop_database.task.id %}" target='_blank'>task</a> and do retry of upgrade disk type by clicking in one of above buttons</p>
      {% endif %}
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        {% if database.attention %}
            <input  checked="checked" id="attention_bool" type="checkbox"/>
        {% else %}
            <input  id="attention_bool" type="checkbox"/>
        {% endif %}
        <span><label class="vCheckboxLabel" for="attention_bool">Este banco precisa de atenção especial</label></span>
      </label>
      <p class="help-block">Descreva, na caixa de texto a seguir, o motivo de atençao para este banco</p>
    </div>
  </div>
  <div class="control-group" id="attention_description_div">
    <div class="control-label"><label>Motivo da atenção:</label></div>
    <div class="controls">
      <textarea class="vLargeTextField span8" cols="40" id="attention_description" name="attention_description" rows="10">{{ database.attention_description }}</textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label"><label>Changes in Service Now:</label></div>
    <div class="controls">
      <table>
        <th>
          <td>
            <a href="{{ database.get_chg_register_url }}" class="btn btn-primary" title="Logs" data-content="Logs" target="_blank">
                <i class="icon-file icon-white"></i>
            </a>
          </td>
          <td>
            <label class="checkbox" style="padding-left: 40px;">
              {% if database.send_all_chg %}
                <input checked="checked" id="checkbox-chg" type="checkbox"/>
              {% else %}
                <input id="checkbox-chg" type="checkbox" title="Não esqueça de salvar as alterações!"/>
              {% endif %}
              <span><label class="CheckboxLabel" for="attention_bool">Enviar todas as changes</label></span>
            </label>
          </td>
        </th>
      </table>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label"><label>Project:</label></div>
    <div class="controls">
      <select class="span8" id="id_project" name="project">
        <option></option>
        {% for project in projects %}
          <option value="{{project.id}}"
            {% if project == database.project %}selected="selected"{% endif %}>
            {{project.name}}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label"><label>Description:</label></div>
    <div class="controls">
      <textarea required class="vLargeTextField span8" cols="40" id="id_description" name="description" rows="10">{{ database.description }}</textarea>
    </div>
 </div>
  <div class="field-organization">
    <div class="control-group">
      <div class="control-label"><label>Organization:</label></div>
      <div class="controls"><p class="readonly">{{database.organization}}</p></div>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label"><label>Team:</label></div>
    <div class="controls">
      <select class="span8" id="id_team" name="team">
        {% for team in teams %}
          <option value="{{team.id}}"
            {% if team == database.team %}selected="selected"{% endif %}>
            {{team.name}}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% if database.databaseinfra.pool %}
  <div class="control-group">
    <div class="control-label"><label>Pool:</label></div>
    <div class="controls"><p class="readonly" id="id_pool">{{ database.databaseinfra.pool.name }}</p></div>
  </div>
  {% endif %}
  <div class="field-team_contact">
    <div class="control-group">
      <div class="control-label"><label>Contacts:</label></div>
      <div class="controls"><p class="readonly" id="id_contact"></p></div>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input {% if database.subscribe_to_email_events %} checked="checked" {% endif %} id="id_subscribe_to_email_events" name="subscribe_to_email_events" type="checkbox"/>
        <span><label class="vCheckboxLabel" for="id_subscribe_to_email_events">Subscribe to email events</label></span>
      </label>
      <p class="help-block">Check this box if you'd like to receive information regarding this database by email.</p>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input {% if database.is_protected %} checked="checked" {% endif %} id="id_is_protected" name="is_protected" type="checkbox"/>
        <span><label class="vCheckboxLabel" for="id_is_protected">Protected</label></span>
      </label>
      <p class="help-block">When marked, the database can not be deleted.</p>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label"><label>Engine:</label></div>
    <div class="controls"><p class="readonly">{{ engine }}</p></div>
  </div>
  <div class="control-group">
    <div class="control-label"><label>Environment:</label></div>
    <div class="controls"><p class="readonly">{{ database.environment }}</p></div>
  </div>
  <div class="control-group">
    <div class="control-label"><label>Service Account:</label></div>
    <div class="controls"><p class="readonly">{{ database.infra.service_account }}</p></div>
  </div>
  {% if database.has_persistence %}
    <div class="control-group">
      <div class="control-label"><label>Disk:</label></div>
      <div class="controls">
        <p class="readonly">
          total {% widthratio database.infra.disk_offering.size_gb 1 masters_quant %} GB
          {% if masters_quant > 1 %}
            ({{ masters_quant }} x {{ database.infra.disk_offering.size_gb }} GB)
          {% endif %}
        </p>
      </div>
      <div class="controls controls-300">{% if database.status == database.ALIVE %}{% render_detailed_capacity_html database disk %}{% endif %}</div>
    </div>
    <div class="control-group">
      <div class="control-label"><label>Disk Type:</label></div>
      <div class="controls">
        <p class="readonly">
          {{ database.infra.disk_offering_type.name }}
        </p>
      </div>
    </div>
  {% endif %}

  {% if database.is_in_memory %}
  <div class="control-group">
    <div class="control-label"><label>Memory database:</label></div>
    <div class="controls">
      <p class="readonly">
        {% if database.total_size_in_gb %}
          total {{ database.total_size_in_gb }} GB
          {% if masters_quant > 1 %}
            ({{ masters_quant }} x {{ database.driver.get_master_instance_total_size_in_gb }} GB)
          {% endif %}
        {% else %}
          Total memory size not collected yet. Will be updated in a few minutes...
        {% endif %}
      </p>
    </div>
    <div class="controls controls-300">{% if database.status == database.ALIVE %}{% render_detailed_capacity_html database memory %}{% endif %}</div>
  </div>
  {% endif %}
  <div class="control-group">
      <div class="control-label"><label>Persisted:</label></div>
      <div class="controls">
        <p class="readonly">
          {% if database.has_persistence %}
            Yes
          {% else %}
            No
          {% endif %}
        </p>
      </div>
  </div>
  <div class="control-group">
    <div class="control-label"><label>Offering:</label></div>
    <div class="controls"><p class="readonly">{{ database.offering }}</p></div>
  </div>
  <div class="control-group">
    <div class="control-label"><label>SSL:</label></div>
    <div class="controls"><p class="readonly">{{ ssl_detail }}</p></div>
  </div>
  <div class="control-group">
    <div class="control-label"><label>Created At:</label></div>
    <div class="controls"><p class="readonly">{{ database.created_at }}</p></div>
  </div>
  <div class="control-group">
    <div class="control-label"><label>Bind name:</label></div>
    <div class="controls"><p class="readonly">{{ database.apps_bind_name }}</p></div>
  </div>
  {% if database.is_in_quarantine %}
  <div class="control-group">
    <div class="control-label"><label>Quarantine since:</label></div>
    <div class="controls"><p class="readonly">{{ database.quarantine_dt }}</p></div>
  </div>
  <div class="control-group">
    <div class="control-label"><label>Quarantine requested by:</label></div>
    <div class="controls"><p class="readonly">{{ database.quarantine_user }}</p></div>
  </div>
  {% endif %}
</fieldset>
{% endblock %}

{% block js_footer %}
{{ block.super }}
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script>
  var team_select = document.getElementById("id_team");
  var team_contact = document.getElementById("id_contact");
  var database_id = '{{ database.id }}';

  jQuery(document).ready(function($) {
    if(!$("#attention_bool").prop("checked")){
      $("#attention_description_div").slideUp();
    }else{
      $("#attention_description").attr("required", "required");
    }
    $(".bar .database-bar, .bar .other-bar, .bar .free-bar").popover({
        'trigger': 'hover',
        'placement': 'top'
    });

    $("#id_team").on("change", function() {
      var team_id = team_select.value;

      if (team_id) {
        jQuery.ajax({
          "dataType": "json", "url": "/account/team_contacts/" + team_id, "type": "GET",
        }).done(function(response) {
          if (response.error) {
            alert(response.error);
          } else {
            var contacts = "";
            if(response.contacts != null)
              contacts = response.contacts;
            team_contact.innerHTML = contacts
          }
        }).fail(function() {
          alert("invalid server response");
        });
      }
    });
    $('#id_team').change();

    running_update = false;
    $("#id_status").on("click", function() {
      if (running_update){
        return;
      }
      running_update = true;
      $("#id_status").attr('disabled','disabled');
      jQuery.ajax({
          "dataType": "json", "url": "/logical/status/" + database_id, "type": "GET",
          complete: function () {
            running_update = false;
            $("#id_status").removeAttr('disabled');
          },
      }).done(function(response) {
        if (response.error) {
              alert(response.error);
          } else {
              var output = response['database_status']
              $('#status-tag span').replaceWith(output);
          }
        }).fail(function() {
          alert("invalid server response");
      });
    });

    $("#id_monitoring").on("click", function() {
      if (running_update){
        return;
      }
      running_update = true;
      $("#id_monitoring").attr('disabled','disabled');
      jQuery.ajax({
          "dataType": "json", "url": "/logical/toggle_monitoring/" + database_id, "type": "GET",
          complete: function () {
            running_update = false;
            $("#id_monitoring").removeAttr('disabled');
            window.location.reload();
          },
      }).fail(function() {
          alert("invalid server response");
      });
    });

    $("#id_start_stop_database").on("click", function() {
      if (running_update){
        return;
      }
      running_update = true;
      $("#id_start_stop_database").attr('disabled','disabled');
      value = $("#id_start_stop_database").text();
      if(value.includes('Stop')){
        url = "/logical/stop_database/"+ database_id;
      }else{
        url = "/logical/start_database/"+ database_id;
      }
      jQuery.ajax({
          "dataType": "json", "url": url, "type": "GET",
          complete: function () {
            running_update = false;
          },
      }).fail(function() {
          alert("invalid server response");
      });
    });

    $("#attention_bool").change(function() {
      if($(this).is(":checked")){
        $("#attention_description").attr("required", "required");
      }
      else{
        $("#attention_description").removeAttr("required");
      }
      $("#attention_description_div").slideToggle();
      $("#att_tag").slideToggle();
      if (running_update){
        return;
      }
      running_update = true;
      send_attention()
      running_update = false;
    });

    $("#checkbox-chg").change(function() {
      if (running_update){
        return;
      }
      running_update = true;
      send_all_changes();
      running_update = false;
    });

    $("#attention_description").focusout(function() {
      if (running_update){
        return;
      }
      running_update = true;
      send_attention()
      running_update = false;
    });

    function send_attention(){
      att_bool_text = $("#attention_bool").prop("checked");
      att_desc_text = $("#attention_description").val();
      jQuery.ajax({
          "type": "GET",
          "url": "/logical/set_attention/" + database_id +
          "?att_bool="+att_bool_text+"&att_descr="+att_desc_text,
          complete: function () {
            running_update = false;
          },
      }).fail(function() {
          alert("invalid server response");
      });
    }

    function send_all_changes(){
      chg_bool = $("#checkbox-chg").prop("checked");
      jQuery.ajax({
          "type": "GET",
          "url": "/logical/send_all_chg/" + database_id + "?chg_bool="+chg_bool,
          complete: function () {
            running_update = false;
          },
      }).fail(function() {
          alert("invalid server response");
      });
    }
});


</script>

{% endblock %}