{% extends "logical/database/details/base.html" %}


{% block extrastyle %}
  {{ block.super }}
  <style type="text/css">
    .action_button {
        margin-left: 20px
    }
  </style>
{% endblock %}


{% block tab %}
<fieldset class="module aligned ">
  <div class="panel-heading">
    <h3 class="panel-title">Read-Write</h3>
  </div>
  <div class="panel-body">
    <div class="control-group">
      <div class="control-label">Primary:</div>
      <div class="controls"><p class="readonly">{{ instance_primary }}</p></div>
      {% for instance in instances_secondary %}
        <div class="control-label">Secondary:</div>
        <div class="controls"><p class="readonly">{{ instance }}</p></div>
      {% endfor %}
    </div>
  </div>
  {% if database.plan.is_ha %}
    <div class="panel-heading">
      <h3 class="panel-title">Read-Only</h3>
    </div>
    {% if instances_read_only %}
      <div class="panel-body">
        {% for instance in instances_read_only %}
          <div class="control-label">{{ instance.get_instance_type_display }}:</div>
          <div class="controls">
            {{ instance }}
            <a class="action_button btn btn-danger" href="{{ instance.id }}/delete/"><i class="icon-trash icon-white"></i></a>

          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="control-group">
      <div class="control-label">New instances:</div>
      <div class="controls">
        <select class="span1" id="id_add_read_qtd" name="add_read_qtd">
          <option></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input type="submit" value="Add" name="add_read_only" id="add_read_only_btn" onclick="return confirm('Are you sure?')"/>
      </div>
     </div>
  {% endif %}

  {% if instances_no_database %}
    <div class="panel-heading">
      <h3 class="panel-title">Non databases</h3>
    </div>
    <div class="panel-body">
      <div class="control-group">
        {% for instance in instances_no_database %}
          <div class="control-label">{{ instance.get_instance_type_display }}:</div>
          <div class="controls"><p class="readonly">{{ instance }}</p></div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</fieldset>
{% endblock %}

{% block database_button_save %}
{% endblock %}

{% block js_footer %}
{{ block.super }}

<script>
  jQuery(document).ready(function($) {
    $("#id_add_read_qtd").on("change", function() {
      btn = document.getElementById("add_read_only_btn");
      btn.disabled = $(this).val() == "";
      if (btn.disabled) {
        btn.className = 'action_button btn';
      } else {
        btn.className = 'action_button btn btn-primary';
      }
    });
    $("#id_add_read_qtd").change()

  })
</script>
{% endblock %}
