{% extends "logical/database/details/base.html" %}
{% load admin_static %}


{% block extrastyle %}
  {{ block.super }}
  <style type="text/css">
    .action_button {
        margin-left: 20px
    }
  </style>
{% endblock %}


{% block tab %}
<fieldset class="module aligned ">
  <div class="panel-heading">
    <h3 class="panel-title">
      Core hosts
      {% if database.plan.replication_topology.has_horizontal_scalability %}
      <a href="javascript:void(0)" data-content="These are the main database hosts. They can be
      {% if non_database_attribute %}
        {{ core_attribute|lower }}, {{ read_only_attribute|lower }} or {{ non_database_attribute|lower }} only.
      {% else %}
        {{ core_attribute|lower }} or {{ read_only_attribute|lower }} only.
      {% endif %}
      They are used for high availability (HA) and can not be destroyed individually." class="show-info" data-original-title="Info"><span class="icon-info-sign"></span></a>
      {% endif %}
    </h3>
  </div>
  <div class="panel-body">
    <div class="control-group">
      {% for host in instances_core %}
        <div class="control-label"><label>{{ host.status }}</label></div>
        <div class="controls">
          <p class="readonly">
            {% if is_dba %}
              <a target="_blank" href="{% url 'admin:physical_host_change' host.id %}">{{ host.description }}</a>
              {% if host.switch_database %}
                  <a class="action_button btn btn-warning" href="{{ host.id }}/switch/"
                    data-toggle="tooltip" data-placement="top" title="Switch write database"
                  ><i class="icon-refresh"></i></a>
              {% endif %}
            {% else %}
              {{ host.description }}
            {% endif %}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
  {% if database.plan.replication_topology.has_horizontal_scalability %}
    <div class="panel-heading">
      <h3 class="panel-title">
        Read-Only hosts
        <a href="javascript:void(0)" data-content="These are extra hosts created for the database. They are always {{ read_only_attribute|lower }} and can not be elected as {{ core_attribute|lower }}. They are used to scale the readings, since the application can read from these {{ read_only_attribute|lower }} instead of reading from the {{ core_attribute|lower }}. Each database can add up to {{ max_read_hosts }} read only hosts." class="show-info" data-original-title="Info"><span class="icon-info-sign"></span></a>
      </h3>
    </div>
    {% if instances_read_only %}
      <div class="panel-body">
        {% for host in instances_read_only %}
          <div class="control-label"><label>{{ host.status }}</label></div>
          <div class="controls">
            <p>
              {% if is_dba %}
                <a target="_blank" href="{% url 'admin:physical_host_change' host.id %}">{{ host.description }}</a>
              {% else %}
                {{ host.description }}
              {% endif %}
              <a class="action_button btn btn-danger" href="{{ host.id }}/delete/" onclick="return confirm('Are you sure?')"><i class="icon-trash icon-white"></i></a>
            </p>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if enable_host %}
      <div class="control-group">
        <div class="control-label">New instances:</div>
        <div class="controls">
          <select class="span1" id="id_add_read_qtd" name="add_read_qtd">
            <option></option>
            {% for add in enable_host %}
              <option value="{{ add }}">{{ add }}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Add" name="add_read_only" id="add_read_only_btn" onclick="return confirm('Are you sure?')"/>
        </div>
       </div>
    {% endif %}
  {% endif %}

  {% if instances_no_database %}
    <div class="panel-heading">
      <h3 class="panel-title">Non databases</h3>
    </div>
    <div class="panel-body">
      <div class="control-group">
        {% for instance in instances_no_database %}
          <div class="control-label">{{ instance.get_instance_type_display }}:</div>
          <div class="controls"><p class="readonly">{{ instance }}</p></div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</fieldset>
{% endblock %}

{% block database_button_save %}
{% endblock %}

{% block js_footer %}
{{ block.super }}

<script type="text/javascript" src="{% static 'js/hosts.js' %}"></script>
<script>
  jQuery(document).ready(function($) {
    $("#id_add_read_qtd").on("change", function() {
      btn = document.getElementById("add_read_only_btn");
      btn.disabled = $(this).val() == "";
      if (btn.disabled) {
        btn.className = 'action_button btn';
      } else {
        btn.className = 'action_button btn btn-primary';
      }
    });
    $("#id_add_read_qtd").change()

  })
</script>
{% endblock %}
