{% extends "logical/database/details/base.html" %}
{% load admin_static dbaas_tags system_config %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" />

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms-and-widgets.css" %}" />
  <style type="text/css">
    .calendarbox, .clockbox {
      z-index: 10000;
    }
    .resize_button {
        margin-left: 20px
    }

    .bold_red {
      color: red;
    }
    .schedule-field {
      border: 1px solid #ccc;
      background-color: #fff;
      width: 70%;
    }
    .schedule-field table {
      margin-bottom: 0px;
    }
    .btn.btn-primary.action-btn {
      padding: 1px 4px;
      margin-left: 3px;
    }
    .popover-inner .popover-title {
      display: none;
    }
    #modal-body-schedule .icon-calendar, #modal-body-schedule .icon-time {
      margin-top: 5px;
    }
  </style>
{% endblock %}

{% block tab %}
<fieldset class="module aligned ">
  {% if available_plans_for_migration %}
  <div class="control-group">
    <div class="control-label"><label>Plan migration:</label></div>
    <div class="controls">
      {% if retry_migrate_plan %}
      <select id="id_target_migrate_plan_retry" name="target_migrate_plan_retry" disabled="true">
        {% for plan in available_plans_for_migration %}
          {% if plan == retry_migrate_plan %}
          <option value="{{plan.id}}" selected>{{ plan }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <button data-toggle="modal" class="btn btn-warning" id="migrate_plan_retry_btn" data-target="#migrate_plan_retry">Retry</button>
      {% else %}
      <select id="id_target_migrate_plan" name="target_migrate_plan">
        {% for plan in available_plans_for_migration %}
          <option value="{{plan.id}}">{{ plan }}</option>
        {% endfor %}
      </select>
      <button data-toggle="modal" class="btn btn-primary" id="migrate_plan_btn" data-target="#migrate_plan">Migrate Plan</button>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% if available_patches %}
  <div class="control-group">
    <div class="control-label"><label>Patch upgrade:</label></div>
    <div class="controls">
      {% if retry_patch %}
      <select id="id_target_patch_retry" name="target_patch_retry" disabled="true">
        {% for engine_patch in available_patches %}
          {% if engine_patch == retry_patch.target_patch %}
          <option value="{{engine_patch.id}}" selected>{{engine_patch.full_version}}</option>
          {% endif %}
        {% endfor %}
      </select>
      <button data-toggle="modal" class="btn btn-warning" id="upgrade_patch_retry_btn" data-target="#upgrade_patch_retry">Retry</button>
      {% else %}
      <select id="id_target_patch" name="target_patch">
        {% for engine_patch in available_patches %}
          <option value="{{engine_patch.id}}">{{engine_patch.full_version}}</option>
        {% endfor %}
      </select>
      <button data-toggle="modal" class="btn btn-primary" id="upgrade_patch_btn" data-target="#upgrade_patch">Upgrade Patch</button>
      {% endif %}
    </div>
  </div>
  {% endif %}

  {% if upgrade_mongo_24_to_30 and database.databaseinfra.plan.replication_topology.can_upgrade_db %}
    <div class="control-group">
      <div class="control-label"><label>Engine upgrade:</label></div>
      <div class="controls">
        <a href="{{ database.get_mongodb_engine_version_upgrade_url }}" id="upgrade_btn" class="btn btn-primary" title="Start engine upgrade" onclick="return confirm('Are you sure?')">Upgrade MongoDB 2.4 to 3.0</a>
      </div>
    </div>
  {% elif can_do_upgrade and database.databaseinfra.plan.replication_topology.can_upgrade_db %}
    <div class="control-group">
      <div class="control-label"><label>Engine upgrade:</label></div>
      <div class="controls">
        {% if last_upgrade and last_upgrade.is_status_error %}
          <a href="{{ database.get_upgrade_retry_url }}" id="upgrade_btn" class="btn btn-warning" title="Retry upgrade" onclick="return confirm('Are you sure?')">Retry upgrade {{ database.infra.engine_name }} {{ database.infra.plan.engine.version}} to {{ database.infra.plan.engine_equivalent_plan.engine.version }}</a>
          <p><a href="{% url 'admin:maintenance_databaseupgrade_change' last_upgrade.id %}" target='_blank'>Last upgrade</a> has an <b>error</b>, please check the <a href="{% url 'admin:notification_taskhistory_change' last_upgrade.task.id %}" target='_blank'>task</a> and retry the database upgrade clicking in button above</p>
        {% else %}
          <a href="{{ database.get_upgrade_url }}" id="upgrade_btn" class="btn btn-primary" title="Start upgrade" onclick="return confirm('Are you sure?')">Upgrade {{ database.infra.engine_name }} {{database.infra.engine_patch.full_version }} to {{ database.infra.plan.engine_equivalent_plan.engine.version }}</a>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="panel-heading">
      <h3 class="panel-title">Maintenance <i>(Weekly)</i></h3>
  </div>
  <div class="panel-body">
    <div class="control-group">
        <div class="control-label"><label>Window:</label></div>
        <div class="controls">
            <select id="id_maintenance_window"name="maintenance_window">
                {% for maintenance_window in maintenance_windows %}
                    {% if maintenance_window.0 == current_maintenance_window %}
                        <option value="{{ maintenance_window.0 }}" selected="selected">*
                    {% else %}
                        <option value="{{ maintenance_window.0 }}">
                    {% endif %}
                        {{ maintenance_window.1 }}
                        </option>
                {% endfor %}
            </select>
        </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="control-group">
      <div class="control-label"><label>Day: </label></div>
      <div class="controls">
        <select id="id_maintenance_day" name="maintenance_day">
          {% for maintenance_day in maintenance_days %}
            {% if maintenance_day.0 == current_maintenance_day %}
              <option value="{{ maintenance_day.0 }}" selected="selected">*
            {% else %}
              <option value="{{ maintenance_day.0 }}">
            {% endif %}
              {{ maintenance_day.1 }}
              </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  {% get_configuration "show_schedule_tasks" "show_schedule_tasks" %}
  {% if show_schedule_tasks %}
  <div class="panel-heading">
      <h3 class="panel-title">Automatic tasks</h3>
  </div>
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs" id="automaticTaskMenu">
      <li class="active"><a href="#tab1" data-toggle="tab">Scheduled</a></li>
      <li><a href="#tab2" data-toggle="tab">Already executed</a></li>
    </ul>
    <div class="tab-content">
      <div class="{% if tasks_scheduled %}schedule-field {% endif %}tab-pane fade active in" id="tab1">
        {% if tasks_scheduled %}
          {% include "logical/database/task_schedule/scheduled_table.html" with tasks_scheduled=tasks_scheduled %}
        {% else %}
          <p>You don't have any scheduled tasks.</p>
        {% endif %}
      </div>
      <div class="{% if tasks_executed %}schedule-field {% endif %} tab-pane fade" id="tab2">
        {% if tasks_executed %}
          {% include "logical/database/task_schedule/already_executed_tasks_table.html" with tasks_executed=tasks_executed %}
        {% else %}
          <p>You don't have any executed tasks.</p>
        {% endif %}
      </div>
    </div>
</div>
  <div>
    </div>
  {% endif %}
</fieldset>

{% include "admin/confirmation_modal.html" with tag_type="a" modal_id="execute_scheduled_maintenance" confirmation_message="Are you sure you want execute the task now ?" box_title="Execute Scheduled Task" button_name="execute_scheduled_maintenance" id_optional="id=id_execute_scheduled_maintenance_btn_modal" %}

{% include "admin/maintenance_confirmation_modal.html" with modal_id="save_submit_modal" confirmation_message="You have tasks scheduled. You want to put in your new maintenance window ?" box_title="Change Scheduled tasks" button_type="submit" button_value="save_and_update_task" button_no_value="Save" button_name="_save" extra_attributes=onclick_attrib%}

{% include "admin/schedule_maintenance.html" with modal_id="schedule_maintenance" box_title="Schedule task" button_type="submit" button_value="_save" button_name="schedule_maintenance" extra_attributes=onclick_attrib%}

{% endblock %}

{% block js_footer %}
{{ block.super }}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/inlines.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tab.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-transition.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-tooltip.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-popover.js' %}"></script>


<script>
  jQuery(document).ready(function($) {


    $('button[data-content="Execute now"][data-target="#execute_scheduled_maintenance"]').click(function(event) {
      var $eventTarget = $(event.target);
      var scheduleId = $eventTarget.data('schedule-id') || $eventTarget.parent('button').data('schedule-id');
      $("#id_execute_scheduled_maintenance_btn_modal").attr("href", "execute_schedule_task/"+scheduleId+"/");
    });

    $(".btn.btn-primary.action-btn").click(function(event) {
      var $eventTarget = $(event.target);
      var scheduleId = $eventTarget.data('schedule-id') || $eventTarget.parent('button').data('schedule-id');
      var scheduleDate = $('input[name="scheduled_for_date_' + scheduleId + '"]');
      var scheduleTime = $('input[name="scheduled_for_time_' + scheduleId + '"]');
      $("#modal_changed_schedule").val(scheduleId);
      $("#modal_scheduled_for_date").val(scheduleDate.val());
      $("#modal_scheduled_for_time").val(scheduleTime.val());
    });

    $("#id_maintenance_day, #id_maintenance_window").on("change", function(ev){
      var el = ev.target;
      var selectedOption = el.options[el.selectedIndex];
      var $scheduleIds = $('input[name="scheduled_id"]');
      var need_modal = false;
      $("#id_maintenance_day, #id_maintenance_window").each(function(pos, el){
        if (!el.selectedOptions[0].text.includes('*')) {
          need_modal = true;
          return false;
        }
      });
      if (need_modal && $scheduleIds.length > 0) {
        $(".save-options-box #save-submit-btn").hide();
        $(".save-options-box #save-modal-btn").show();
        $('input[name="maintenance_changed"]').val("1");
      } else {
        $(".save-options-box #save-modal-btn").hide();
        $(".save-options-box #save-submit-btn").show();
        $('input[name="maintenance_changed"]').val("0");
      }
    });
    $('#automaticTaskMenu a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
    $(".btn.btn-primary.action-btn").popover({
        'trigger': 'hover',
        'placement': 'top',
        'title': ''
    });
    function repositionDatetimePicker() {
      var $clockBox = $("#clockbox0");
      var $calendarBox = $("#calendarbox0");
      $clockBox.position({
        my: "left+100% top-18%",
        at: "left bottom",
        of: $('input[name="scheduled_for_time"]'),
        collision: "fit"
      });
      $calendarBox.position({
        my: "left+112% top-30%",
        at: "left bottom",
        of: $('input[name="scheduled_for_date"]'),
        collision: "fit"
      });
    }
    document.addEventListener('click', setTimeout.bind(null, repositionDatetimePicker, 0));

  });
</script>

{% endblock %}
