{% extends "logical/database/details/base.html" %}

{% block extrastyle %}
  {{ block.super }}
  <style>
    .grafana_frame {
      display: block;
      background: #000;
      border: none;
      width: 100%;
      height: 1000px;
    }
  </style>
{% endblock %}

{% block tab %}
<table style="width:100%" border=0><tr><td>
  <ul class="nav nav-pills" id="navFinished" >
    <li><p class="navbar-text"><b>HOSTS:&nbsp;&nbsp;</b></p></li>
    {% for host in hosts %}
      <li {% ifequal hostname host %} class="active" {% endifequal %}>
        <a href="?hostname={{host}}&source={{source}}">{{host}}</a>
      </li>
    {% endfor %}
  </ul>
</td>
<td><ul class="nav nav-pills">
<li><p class="navbar-text">&nbsp;</p></li>
  <li class="active" style="float:right">
<a href="?hostname={{hostname}}&source={{second_source}}" class="btn btn-primary active" role="button" aria-pressed="true">Change data source to {{second_source}}</a>

</li></ul>
</td>
</tr>
</table>
  {% if source == 'zabbix' %}
    <iframe id="grafana" class='grafana_frame' src="{{ grafana_url_zabbix }}"></iframe>
  {% endif %}

  {% if source == 'sofia' %}
    <iframe id="grafana" class='grafana_frame' src="{{ grafana_url_sofia }}"></iframe>
  {% endif %}

{% endblock %}

{% block database_button_save %}
{% endblock %}
