{% extends "logical/database/details/base.html" %}
{% load admin_static %}


{% block extrastyle %}
  {{ block.super }}
  <style type="text/css">
    .action_button {
        margin-left: 20px
    }

    .padding-host {
        padding-left: 50px !important;
    }
  </style>
{% endblock %}


{% block tab %}
<fieldset class="module aligned ">
  <div class="control-group">
    <p>Environment
      {%if last_host_migrate and last_host_migrate.is_status_error %}
        <u>{{ current_environment }}</u>
        {%if last_host_migrate.database_migrate %}
          to <u>{{ last_host_migrate.database_migrate.environment }}</u>&nbsp&nbsp&nbsp
          <a class="resize_button btn btn-danger" href="{% url 'admin:database_migrate_rollback' last_host_migrate.database_migrate.id %}" title="Rollback database migrate">Rollback</a>
          <a class="resize_button btn btn-warning" href="{% url 'admin:database_migrate_retry' last_host_migrate.database_migrate.id %}" title="Retry database migrate">Retry</a>
          <p><a href="{% url 'admin:maintenance_databasemigrate_change' last_host_migrate.database_migrate.id %}" target='_blank'>Last database migrate</a> has an <b>error</b>, please check the <a href="{% url 'admin:notification_taskhistory_change' last_host_migrate.task.id %}" target='_blank'>task</a> and do rollback or retry of migrate by clicking in one of above buttons</p>
        {% endif %}
      {% else %}
        <select id="migrate_environment" class="environments" name="migrate_environment">
        {% for env in environments %}
          {% if env == current_environment %}
            <option value="{{env.id}}" selected="selected">*{{env}}</option>
          {% else %}
            <option value="{{env.id}}">{{env}}</option>
          {% endif %}
        {% endfor %}
        </select>
        <button data-toggle="modal" id="migrate_environment_btn" class="resize_button btn host-zone-btn" data-origin-environment="{{host}}" data-target="#migrate_environment_modal">Migrate database environment</button>
      {% endif %}
    </p>
  </div>
  <div class="panel-body">
    <div class="control-group">
      <table id="table-hosts" class="table table-striped">
        <tbody>
        {% for host in hosts %}
          <div class="controls">
            <tr>
              <td>{{ host.hostname }}</td>
              <td>
                {%if last_host_migrate and last_host_migrate.is_status_error %}
                  {%if not last_host_migrate.database_migrate and last_host_migrate.host == host %}
                    <a class="resize_button btn btn-danger" href="{% url 'admin:host_migrate_rollback' last_host_migrate.id %}" title="Rollback for host migrate">Rollback</a>
                    <a class="resize_button btn btn-warning" href="{% url 'admin:host_migrate_retry' last_host_migrate.id %}" title="Retry for host migrate">Retry</a>
                    <p><a href="{% url 'admin:maintenance_hostmigrate_change' last_host_migrate.id %}" target='_blank'>Last host migrate</a> has an <b>error</b>, please check the <a href="{% url 'admin:notification_taskhistory_change' last_host_migrate.task.id %}" target='_blank'>task</a> and do rollback or retry of migrate by clicking in one of above buttons</p>
                  {% else %}
                    {{host.current_zone}}
                  {% endif %}
                {% else %}
                  <select id="migrate_zone_{{host.id}}" data-host-id="{{host.id}}" data-current-zone="{{host.current_zone}}" class="host-zone" name="migrate_zone"></select>
                  <button data-toggle="modal" id="migrate_host_btn_{{host.id}}" class="resize_button btn host-zone-btn" data-host-name="{{host}}" data-host-id="{{host.id}}" data-target="#migrate_host_modal">Migrate Host</button>
                {% endif %}
              </td>
            </div>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</fieldset>
{% endblock %}

{% block database_button_save %}

{% include "admin/confirmation_modal.html" with tag_type="a" modal_id="migrate_host_modal" confirmation_message="Are you sure you want to migrate this host?" box_title="Migrate host" button_class="btn btn-primary" id_optional="id=migrate_host_btn_modal"%}
{% include "admin/confirmation_modal.html" with tag_type="a" modal_id="migrate_environment_modal" confirmation_message="Are you sure you want to migrate this database?" box_title="Migrate database" button_class="btn btn-primary" id_optional="id=migrate_database_btn_modal"%}

{% endblock %}

{% block js_footer %}
{{ block.super }}

<script type="text/javascript" src="{% static 'js/migrate.js' %}"></script>
<script>
  function load_zones(environment_id) {
    clean_zones()
    window.MigrateManager.zones_for_environment({{database.id}}, environment_id, parse_zones);
  }

  function parse_zones(data) {
    size = data["zones"].length
    var start_at = Math.floor(Math.random() * size);
    $(".host-zone").each(function(id, obj) {
      var options = ""
      var selected = false;
      for (var zone in data["zones"]) {
        if (start_at >= size) {
          start_at = 0
        }
        var name = data["zones"][zone]["name"];
        var is_active = data["zones"][start_at]["is_active"];
        if (obj.dataset['currentZone'] == name) {
          options += "<option value='" + name + "' selected='selected'>*" + name + "</option>"
          selected = true;
        } else if (zone == start_at.toString() && !selected && is_active) {
          options += "<option value='" + name + "' selected='selected'>" + name + "</option>"
          selected = true;
          start_at = start_at + 1;
        } else {
          options += "<option value='" + name + "'>" + name + "</option>"
        }
        if (!is_active) {
          start_at = start_at + 1;
        }
      }
      obj.innerHTML = options;
    })
    $(".host-zone").change()
  }

  function clean_zones() {
    $(".host-zone").each(function(id, obj) {
      obj.innerHTML = "<option value='Loading...' selected='selected'>Loading...</option>";
    })
    $(".host-zone").change()
  }

  function status_migrate(btn_id, current_value, selected_value) {
    var btn = document.getElementById(btn_id)
    btn.disabled = current_value == selected_value
    if (btn.disabled){
      btn.className = 'resize_button btn host-zone-btn';
    } else {
      btn.className = 'resize_button btn btn-primary host-zone-btn';
    }
  }

  jQuery(document).ready(function($) {
    $(".host-zone").on("change", function() {
      var $hostZone = $(this),
        hostId = $hostZone.data('hostId'),
        currentZone = $hostZone.data('currentZone');

      disable = document.getElementById("migrate_environment_btn").disabled == false
      if (!disable) {
        disable = $hostZone.val() == "Loading..."
      }
      if (disable) {
        status_migrate("migrate_host_btn_" + hostId, "DISABLE", "DISABLE")
      } else {
        status_migrate("migrate_host_btn_" + hostId, currentZone, $hostZone.val())
      }
    });
    $(".host-zone").change()

    var hostId;
    var newZone;
    $(".host-zone-btn").click(function() {
      var $hostBtn = $(this);
      hostId = $hostBtn.data('hostId');
      var hostName = $hostBtn.data('hostName');
      var $select = $("#migrate_zone_" + hostId);
      var currentZone = $select.data('currentZone');
      newZone = $select.find(":selected").val()
      $("#migrate_host_modal .modal_message").empty().append('<label>Are you sure you want migrate <u>' + hostName + '</u> from <u>' + currentZone + '</u> to <u>' + newZone + '</u>?</label>');
    });

    $("#migrate_host_btn_modal").click(function() {
      window.MigrateManager.migrate_host({{database.id}}, hostId, newZone);
    });

    $("#migrate_database_btn_modal").click(function() {
      var hosts_zones = {}
      $(".host-zone").each(function(id, obj) {
        hosts_zones[obj.dataset['hostId'].toString()] = obj.value;
      })
      window.MigrateManager.migrate_database({{database.id}}, $("#migrate_environment").val(), hosts_zones);
    });

    $("#migrate_environment").on("change", function() {
      var $environment = $(this);
      status_migrate("migrate_environment_btn", {{ current_environment.id }}, $environment.val())
      load_zones($environment.val());
    });
    $("#migrate_environment").change()

    $("#migrate_environment_btn").click(function() {
      var $select = $("#migrate_environment");
      var newEnv = $select.find(":selected").text()
      $("#migrate_environment_modal .modal_message").empty().append('<label>Are you sure you want migrate <u>{{ database.name }}</u> from <u>{{ current_environment }}</u> to <u>' + newEnv + '</u>?</label>');
    });
  })
</script>
{% endblock %}
