{% extends "logical/database/details/base.html" %}
{% load admin_static %}

{% block tab %}
<fieldset class="module aligned ">
  <div class="panel-heading">
    <h3 class="panel-title">Custom Parameters</h3>
  </div>

  <div class="panel-body">

    <table id="table-parameters" class="table table-striped" data-database-id="{{database.pk}}" >
      <thead>
        <tr>
          <th>Parameter</th>
          <th>DBaaS default value</th>
          <th>Custom value</th>
          {% if is_dba %}
            {% if form_status  == EDITABLE or form_status == TASK_ERROR %}
              <th>New custom value</th>
            {% endif %}
          {% endif %}
        </tr>
      <tbody>
        {% for parameter in form_database_parameters %}
          <tr>
            <td>
              {{parameter.name}}
              {% if not parameter.dynamic %}
                *
              {% endif %}
            </td>
            <td>
              {{parameter.dbaas_default_value}}
              <input type="hidden" name="dbaas_default_value_{{parameter.id}}" id="dbaas_default_value_{{parameter.id}}" value="{{parameter.dbaas_default_value}}">
            </td>
            <td>
             {{parameter.current_value}}
             {% if not parameter.applied_on_database %}
              (it was not applied on database yet)
             {% endif %}
            </td>
            {% if is_dba %}
              {% if form_status  == EDITABLE or form_status == TASK_ERROR %}
                <td>
                  <input type="text" placeholder="type new value"
                   maxlength="200" id="new_value_{{parameter.id}}"
                   name="new_value_{{parameter.id}}" value="{{parameter.new_value}}"
                   {% if not parameter.editable_parameter %} disabled {% endif %}
                  >
                </td>
                <td>

                  <label class="checkbox">
                    <input id="checkbox_reset_{{parameter.id}}" name="checkbox_reset_{{parameter.id}}"
                      type="checkbox"
                       onclick=
                       {% if not parameter.editable_parameter %}
                       "return false;"
                       {% else %}
                       "reset_default(this, {{parameter.id}});"
                       {% endif %}
                       {% if not parameter.editable_parameter %} disabled {% endif %}
                    />
                    <span><label class="vCheckboxLabel" for="checkbox_reset_{{parameter.id}}">Reset to DBaaS default value</label></span>
                  </label>

                </td>
                <td><input type="hidden" name="dynamic_{{parameter.id}}" id="dynamic_{{parameter.id}}" value="{{parameter.dynamic}}"></td>
              {% endif %}
            {% endif %}


          </tr>
        {% endfor %}
      </tbody>
      </thead>
    </table>

  </div>
</fieldset>

<!-- Modal -->
<div class="modal fade" id="change_parameter_modal" tabindex="-1" role="dialog" aria-labelledby="change parameter" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Change Parameter</h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div role="form">
          <div class="form-group">
            <label>
              {% if database.infra.plan.is_ha %}
                Change parameter process will switch hosts, and <b class="bold_red">it may cause connections errors</b> during the process.
              {% else %}
                Change parameter process <b class="bold_red">will stop the database</b> and, consequently, it will be <b class="bold_red">unavailable</b> until the the end of the process.
              {% endif %}

              <br><br>
              Please type <u><b>yes</b></u> to confirm:
            </label>
            <input autocomplete="off" class="vTextField" id="id_change_parameter_yes" maxlength="300" name="change_parameter_yes" type="text"/>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input type="submit" value="Apply" name="change_parameter_btn_modal" id="id_change_parameter_btn_modal"/>
      </div>
    </div>
  </div>
</div>

{% include "admin/confirmation_modal.html" with modal_id="save_changes" confirmation_message="Do you want to save the changes made to the parameters?" box_title="Saving changes" button_type="submit" button_value="Apply" button_name="change_parameter_btn_modal" %}

{% include "admin/confirmation_modal.html" with modal_id="retry_save_changes" confirmation_message="Do you want to try saving the changes made to the parameters again?" box_title="Saving changes" button_type="submit" button_value="Retry Change Parameters" button_name="retry_update_parameters" %}

{% endblock %}

{% block database_button_save %}
  {% if is_dba %}

    <div class="form-actions navbar navbar-fixed-bottom">
        <div class="container">
          <div class="pull-left save-options-box">


            {%if static_parameter %}
              <p>* Static parameter, it will be necessary restart the database if changed.</p>
            {% endif %}

            {% if form_status  == PROTECTED or form_status == TASK_SUCCESS %}
            <input type="submit" value="Edit" name="edit_parameters" id="id_edit_parameters_btn" class="btn btn-primary"/>
          {% elif  form_status  == EDITABLE %}
            <input type="submit" value="Save" name="save_parameters"
              onclick="return confirm_msg();" class="btn btn-primary"
              id="save_parameters"
            />
            <input type="submit" value="Cancel" name="calcel_edit_parameters"
              id="id_calcel_edit_parameters_btn" class="btn btn-primary"
            />

          {% elif  form_status  == TASK_ERROR %}
            <input type="submit" value="Retry Change Parameters"
              name="retry_button" data-toggle="modal" data-target="#retry_save_changes"
              class="btn btn-warning"
            />
            <p><a href="{% url 'admin:maintenance_databasechangeparameter_change' last_change_parameters.id %}" target='_blank'>Last change parameters</a> has an <b>error</b>, please check the <a href="{% url 'admin:notification_taskhistory_change' last_change_parameters.task.id %}" target='_blank'>task</a> and retry the database change parameters clicking in button above</p>
          {% endif %}

        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block js_footer %}
{{ block.super }}

<script type="text/javascript">

  function reset_default(checkbox_control, id)
  {
    if (checkbox_control.checked)
    {
      var dbaas_default_value = document.getElementById("dbaas_default_value_"+id);
      var new_value = document.getElementById("new_value_"+id);
      new_value.disabled = true;
      new_value.value = dbaas_default_value.value;
    }
    else
    {
      var new_value = document.getElementById("new_value_"+id);
      new_value.disabled = false;
      new_value.value = "";
    }
  }


  function confirm_msg()
  {
    there_is_static = check_static_parameter_changed();
    if (there_is_static)
    {
      var bnt = document.getElementById("save_parameters");
      bnt.setAttribute("data-toggle", "modal");
      bnt.setAttribute("data-target", "#change_parameter_modal");
    }
    else
    {
      var bnt = document.getElementById("save_parameters");
      bnt.setAttribute("data-toggle", "modal");
      bnt.setAttribute("data-target", "#save_changes");
    }
  }

  jQuery(document).ready(function($) {

    $("#id_change_parameter_yes").keyup(function() {
      btn = document.getElementById("id_change_parameter_btn_modal");
      btn.disabled = $(this).val() != "yes";
      if (btn.disabled) {
        btn.className = 'btn';
      } else {
        btn.className = 'btn btn-primary';
      }
    });
    $("#id_change_parameter_yes").keyup();

  })

function check_static_parameter_changed()
{
  var inputs = document.getElementsByTagName("input");
  var new_value;
  for (x = 0 ; x < inputs.length ; x++){
    myname = inputs[x].getAttribute("name");

    if(myname.indexOf("new_value_")==0){
      new_value = document.getElementById(myname);
      if (new_value.value != "") {
        id = myname.split("new_value_")[1];
        dynamic = document.getElementById("dynamic_"+id);
        if (dynamic.value == "False") {
          return true;
        }
      }
    }

    if(myname.indexOf("reset_default_value_")==0){
      new_value = document.getElementById(myname);
      if (new_value.value != "False") {
        id = myname.split("reset_default_value_")[1];
        dynamic = document.getElementById("dynamic_"+id);
        if (dynamic.value == "False") {
          return true;
        }
      }
    }

  }
  return false;
}


</script>

{% endblock %}
