{% extends "logical/database/details/base.html" %}
{% load admin_static %}

{% block extrastyle %}
  {{ block.super }}

  {{ block.super }}
  <style type="text/css">
    .resize_button {
        margin-left: 20px
    }
  </style>
{% endblock %}

{% block tab %}
<fieldset class="module aligned ">
  <div class="control-group">
    <div class="control-label"><label>Offering:</label></div>
    <div class="controls">
        {{ database.offering }}
        {%if last_resize and last_resize.is_status_error %}
          <a class="resize_button btn btn-warning" href="{{ database.get_resize_retry_url }}" title="Go to disk resize page"><i class="icon-random icon-white"></i></a>
          <p><a href="{% url 'admin:maintenance_databaseresize_change' last_resize.id %}" target='_blank'>Last resize</a> has an <b>error</b>, please check the <a href="{% url 'admin:notification_taskhistory_change' last_resize.task.id %}" target='_blank'>task</a> and retry the database resize clicking in button above</p>
        {% else %}
            <a class="resize_button btn btn-primary" href="{{ database.get_resize_url }}" title="Go to VM resize page"><i class="icon-random icon-white"></i></a>
        {% endif %}
    </div>
  </div>
  <div class="control-group">
    <div class="control-label"><label>Disk:</label></div>
    <div class="controls">
      <p class="readonly">
        {{ database.plan.disk_offering }}
        <a class="resize_button btn btn-primary" href="{{ database.get_disk_resize_url }}" title="Go to disk resize page"><i class="icon-random icon-white"></i></a>
      </p>
    </div>
  </div>
  {% if upgrade_mongo_24_to_30 %}
    <div class="control-group">
      <div class="control-label"><label>Engine upgrade:</label></div>
      <div class="controls">
        <a href="{{ database.get_mongodb_engine_version_upgrade_url }}" class="btn btn-primary" title="Start engine upgrade" onclick="return confirm('Are you sure?')">Migrate MongoDB 2.4 to 3.0</a>
      </div>
    </div>
  {% elif can_do_upgrade %}
    <div class="control-group">
      <div class="control-label"><label>Engine upgrade:</label></div>
      <div class="controls">
        {% if last_upgrade and last_upgrade.is_status_error %}
          <a href="{{ database.get_upgrade_retry_url }}" class="btn btn-warning" title="Retry upgrade" onclick="return confirm('Are you sure?')">Retry migrate {{ database.infra.engine_name }} {{ database.infra.plan.engine.version}} to {{ database.infra.plan.engine_equivalent_plan.engine.version }}</a>
          <p><a href="{% url 'admin:maintenance_databaseupgrade_change' last_upgrade.id %}" target='_blank'>Last upgrade</a> has an <b>error</b>, please check the <a href="{% url 'admin:notification_taskhistory_change' last_upgrade.task.id %}" target='_blank'>task</a> and retry the database upgrade clicking in button above</p>
        {% else %}
          <a href="{{ database.get_upgrade_url }}" class="btn btn-primary" title="Start upgrade" onclick="return confirm('Are you sure?')">Migrate {{ database.infra.engine_name }} {{database.infra.plan.engine.version }} to {{ database.infra.plan.engine_equivalent_plan.engine.version }}</a>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if is_dba and database.is_mysql_flipper %}
    <div class="control-group">
      <div class="control-label"><label>Topology upgrade:</label></div>
      <div class="controls">
        <a href="{{ database.get_flipperfox_migration_url }}" class="btn btn-primary" title="Start migration">Initialize Flipper to FoxHA Migration</a>
      </div>
    </div>
  {% endif %}
</fieldset>
{% endblock %}
