{% extends "logical/database/details/base.html" %}
{% load admin_static %}

{% block extrastyle %}
  {{ block.super }}
  <style type="text/css">
    .resize_button {
        margin-left: 20px
    }

    .bold_red {
      color: red;
    }
  </style>
{% endblock %}

{% block tab %}
<fieldset class="module aligned ">
  {% if database.databaseinfra.plan.replication_topology.can_resize_vm %}
      <div class="control-group">
        <div class="control-label"><label>VM Offering:</label></div>
        <div class="controls">
            {%if last_vm_resize and last_vm_resize.is_status_error %}
              {{ database.offering }}
              <a class="resize_button btn btn-danger" href="{{ database.get_resize_rollback_url }}" title="Rollback for resize VM">Rollback</a>
              <a class="resize_button btn btn-warning" href="{{ database.get_resize_retry_url }}" title="Go to disk resize page">Retry</a>
              <p><a href="{% url 'admin:maintenance_databaseresize_change' last_vm_resize.id %}" target='_blank'>Last resize</a> has an <b>error</b>, please check the <a href="{% url 'admin:notification_taskhistory_change' last_vm_resize.task.id %}" target='_blank'>task</a> and do rollback or retry of resize by clicking in one of above buttons</p>
            {% else %}
              <select id="id_vm_offering" name="vm_offering">
                {% for vm_offering in vm_offerings %}
                  {% if vm_offering.id == current_vm_offering.id %}
                    <option value="{{vm_offering.id}}" name="{{vm_offering.ordering_number}}" selected="selected">*
                  {% else %}
                    <option value="{{vm_offering.id}}" name="{{vm_offering.ordering_number}}">
                  {% endif %}
                    {{vm_offering.name}}
                  </option>
                {% endfor %}
              </select>
              <button data-toggle="modal" id="vm_resize_btn" data-target="#resize_vm">Resize</button>
            {% endif %}
        </div>
      </div>
      {% if show_resize_btns %}
      <div class="control-group">
        <div class="control-label"><label>AutoResize:</label></div>
        <div class="controls">
          <a href="#" target="_blank" class="btn btn-success autoupgrade_database_btn" data-toggle="modal" id="cpu_ram" data-target="#autoupgrade_vm">Resize CPU & RAM</a>
          <a href="#" target="_blank" class="btn btn-primary autoupgrade_database_btn" data-toggle="modal" id="cpu" data-target="#autoupgrade_vm">Resize CPU</a>
          <a href="#" target="_blank" class="btn btn-info autoupgrade_database_btn" data-toggle="modal" id="ram" data-target="#autoupgrade_vm">Resize RAM</a>
        </div>
      </div>
      {% endif %}
  {% endif %}

  {% if available_patches %}
  <div class="control-group">
    <div class="control-label"><label>Patch upgrade:</label></div>
    <div class="controls">
      {% if retry_patch %}
      <select id="id_target_patch_retry" name="target_patch_retry" disabled="true">
        {% for engine_patch in available_patches %}
          {% if engine_patch == retry_patch.target_patch %}
          <option value="{{engine_patch.id}}" selected>{{engine_patch.full_version}}</option>
          {% endif %}
        {% endfor %}
      </select>
      <button data-toggle="modal" class="btn btn-warning" id="upgrade_patch_retry_btn" data-target="#upgrade_patch_retry">Retry</button>
      {% else %}
      <select id="id_target_patch" name="target_patch">
        {% for engine_patch in available_patches %}
          <option value="{{engine_patch.id}}">{{engine_patch.full_version}}</option>
        {% endfor %}
      </select>
      <button data-toggle="modal" class="btn btn-primary" id="upgrade_patch_btn" data-target="#upgrade_patch">Upgrade Patch</button>
      {% endif %}
    </div>
  </div>
  {% endif %}
  <div class="control-group">
    <div class="control-label"><label>Help:</label></div>
    <div class="controls">
      <p class="readonly help-block">Offering with "*" is the current offering</p>
    </div>
  </div>
  <button style="display:None;" data-toggle="modal" class="btn btn-primary" id="confirm_resize" data-target="#resize">Upgrade Patch</button>
</fieldset>

{% include "admin/confirmation_modal_input.html" with modal_id="resize_vm" title="Resize VM" body_text="logical/modal/vm_offering_body.html" input_name="resize_vm_yes" submit_button_value="Resize" submit_button_name="vm_resize" submit_button_id="id_resize_vm_btn_modal" %}

{% include "admin/confirmation_modal.html" with modal_id="autoupgrade_vm" confirmation_message="Are you sure you want AutoUpgrade database offer now?" box_title="AutoUpgrade Offer" button_type="button" button_value="AutoUpgrade Database" button_name="autoupgrade_db_confirm" id_optional="id=id_autoupgrade_db" %}

{% endblock %}


{% block js_footer %}
{{ block.super }}

<script>
  var database_id = '{{ database.id }}';
  var running_update = false;

  function status_resize(btn_id, current_value, selected_value) {
    btn = document.getElementById(btn_id)
    btn.disabled = current_value == selected_value
    if (btn.disabled){
      btn.className = 'resize_button btn';
    } else {
      btn.className = 'resize_button btn btn-primary';
    }
  }
  function check_offering(new_offering, old_offering, modal_id){
      $.ajax({
          url: "/logical/check_offering_sizes/",
          type: "POST",
          data: {
              'new_offering': parseInt(new_offering),
              'old_offering': parseInt(old_offering)
          },
          success: function( data ) {
            $("#" + modal_id + " .modal_check_offer").empty().append('<p style="color:red;font-weight:bold;">' + data.cpus + '</p>');
            $("#" + modal_id + " .modal_check_offer").append('<p style="color:red;font-weight:bold;">' + data.memory + '</p>');
            $("#" + modal_id + " .modal_check_offer").css('display', 'block');
          }
      });
    }

  $(".autoupgrade_database_btn").click(function() {
      $("#id_autoupgrade_db").val($(this).attr('id'));
    });

  $("#id_autoupgrade_db").on("click", function() {
      if (running_update){
        return;
      }
      running_update = true;
      $("#id_autoupgrade_db").attr('disabled','disabled');
      value = $("#id_autoupgrade_db").val();
      url = "/logical/resize_vm/"+ database_id + "/" + value;

      jQuery.ajax({
          "dataType": "json",
          "url": url,
          "type": "GET"
      }).success(function(){
          running_update = false;
          window.location.reload();
      }).error(function() {
          alert("invalid server response");
      });
    });

  jQuery(document).ready(function($) {
    document.onkeydown = function () {
        switch (event.keyCode) {
            case 116 :
                location.assign(location.href)
            case 82 :
                if (event.ctrlKey) {
                    location.assign(location.href)
                }
        }
    }

    var currentForm;

    $("#id_disk_offering").on("change", function() {
      status_resize("disk_resize_btn", {{ database.infra.disk_offering.id }}, $(this).val())
    });
    $("#id_disk_offering").change()

    $("#id_vm_offering").on("change", function() {
      check_offering($(this).val(), '{{ current_vm_offering.id }}', 'resize_vm');
      status_resize("vm_resize_btn", '{{ current_vm_offering.id }}', $(this).val());
    });
    $("#id_vm_offering").change()

    $("#id_resize_vm_yes").keyup(function() {
      btn = document.getElementById("id_resize_vm_btn_modal");
      btn.disabled = $(this).val() != "yes";
      if (btn.disabled) {
        $(btn).removeClass ('btn-primary');
      } else {
        $(btn).addClass('btn-primary');
      }
    });
    $("#id_resize_vm_yes").keyup()

    $("#database_form").submit(function (e) {
        //disable resize vm submit button
        $("#id_resize_vm_btn_modal").attr("disabled", true);

        return true;
    });

    $("#disk_resize_btn").click(function() {
      var $new_disk_size = $("#id_disk_offering").find(":selected").text().trim()
      $("#resize_disk .modal_message").text('Are you sure you want to resize your disk from <{{ database.databaseinfra.disk_offering.name  }}> to <' + $new_disk_size + '>?')
    });

  })
</script>

{% endblock %}
