{% extends "logical/database/details/base.html" %}
{% load admin_static %}

{% block extrastyle %}
  {{ block.super }}
  <style type="text/css">
    .resize_button {
        margin-left: 20px
    }

    .bold_red {
      color: red;
    }
  </style>
{% endblock %}

{% block tab %}
<fieldset class="module aligned ">
  {% if database.databaseinfra.plan.replication_topology.can_resize_vm %}
      <div class="control-group">
        <div class="control-label"><label>VM Offering:</label></div>
        <div class="controls">
            {%if last_vm_resize and last_vm_resize.is_status_error %}
              {{ database.offering }}
              <a class="resize_button btn btn-danger" href="{{ database.get_resize_rollback_url }}" title="Rollback for resize VM">Rollback</a>
              <a class="resize_button btn btn-warning" href="{{ database.get_resize_retry_url }}" title="Go to disk resize page">Retry</a>
              <p><a href="{% url 'admin:maintenance_databaseresize_change' last_vm_resize.id %}" target='_blank'>Last resize</a> has an <b>error</b>, please check the <a href="{% url 'admin:notification_taskhistory_change' last_vm_resize.task.id %}" target='_blank'>task</a> and do rollback or retry of resize by clicking in one of above buttons</p>
            {% else %}
              <select id="id_vm_offering" name="vm_offering">
                {% for vm_offering in vm_offerings %}
                  {% if vm_offering.offering == current_vm_offering or vm_offering == current_vm_offering %}
                    <option value="{{current_vm_offering.serviceofferingid}}"selected="selected">*
                  {% else %}
                    <option value="{{vm_offering.id}}">
                  {% endif %}
                    {{vm_offering}}
                  </option>
                {% endfor %}
              </select>
              <button data-toggle="modal" id="vm_resize_btn" data-target="#resize_vm">Resize</button>
            {% endif %}
        </div>
      </div>
  {% endif %}
  <div class="control-group">
    <div class="control-label"><label>Disk offering:</label></div>
    <div class="controls">
      <select id="id_disk_offering" name="disk_offering">
        {% for disk_offering in disk_offerings %}
          <option value="{{disk_offering.id}}"
            {% if disk_offering == database.infra.disk_offering %}
              selected="selected">*
            {% else %}
              >
            {% endif %}
            {{disk_offering}}
          </option>
        {% endfor %}
      </select>
      <button data-toggle="modal" id="disk_resize_btn" data-target="#resize_disk">Resize</button>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input {% if database.disk_auto_resize %} checked="checked" {% endif %} id="id_disk_auto_resize" name="disk_auto_resize" type="checkbox"/>
        <span><label class="vCheckboxLabel" for="id_disk_auto_resize">Disk auto resize</label></span>
      </label>
      <p class="help-block">When marked, the disk will be resized automatically.</p>
    </div>
  </div>
  {% if upgrade_mongo_24_to_30 and database.databaseinfra.plan.replication_topology.can_upgrade_db %}
    <div class="control-group">
      <div class="control-label"><label>Engine upgrade:</label></div>
      <div class="controls">
        <a href="{{ database.get_mongodb_engine_version_upgrade_url }}" class="btn btn-primary" title="Start engine upgrade" onclick="return confirm('Are you sure?')">Migrate MongoDB 2.4 to 3.0</a>
      </div>
    </div>
  {% elif can_do_upgrade and database.databaseinfra.plan.replication_topology.can_upgrade_db %}
    <div class="control-group">
      <div class="control-label"><label>Engine upgrade:</label></div>
      <div class="controls">
        {% if last_upgrade and last_upgrade.is_status_error %}
          <a href="{{ database.get_upgrade_retry_url }}" class="btn btn-warning" title="Retry upgrade" onclick="return confirm('Are you sure?')">Retry migrate {{ database.infra.engine_name }} {{ database.infra.plan.engine.version}} to {{ database.infra.plan.engine_equivalent_plan.engine.version }}</a>
          <p><a href="{% url 'admin:maintenance_databaseupgrade_change' last_upgrade.id %}" target='_blank'>Last upgrade</a> has an <b>error</b>, please check the <a href="{% url 'admin:notification_taskhistory_change' last_upgrade.task.id %}" target='_blank'>task</a> and retry the database upgrade clicking in button above</p>
        {% else %}
          <a href="{{ database.get_upgrade_url }}" class="btn btn-primary" title="Start upgrade" onclick="return confirm('Are you sure?')">Migrate {{ database.infra.engine_name }} {{database.infra.plan.engine.version }} to {{ database.infra.plan.engine_equivalent_plan.engine.version }}</a>
        {% endif %}
      </div>
    </div>
  {% endif %}

  <div class="control-group">
    <div class="control-label"><label>Help:</label></div>
    <div class="controls">
      <p class="readonly help-block">Offering with "*" is the current offering</p>
    </div>
  </div>
</fieldset>

{% include "admin/confirmation_modal_input.html" with modal_id="resize_vm" title="Resize VM" body_text="logical/modal/vm_offering_body.html" input_name="resize_vm_yes" submit_button_value="Resize" submit_button_name="vm_resize" submit_button_id="id_resize_vm_btn_modal" %}

{% include "admin/confirmation_modal.html" with modal_id="resize_disk" confirmation_message="Are you sure you want to resize the disk?" box_title="Resizing the disk" button_type="submit" button_value="Resize" button_name="disk_resize" id_optional="id=id_resize_disk_btn_modal" %}


{% endblock %}


{% block js_footer %}
{{ block.super }}

<script>
  function status_resize(btn_id, current_value, selected_value) {
    btn = document.getElementById(btn_id)
    btn.disabled = current_value == selected_value
    if (btn.disabled){
      btn.className = 'resize_button btn';
    } else {
      btn.className = 'resize_button btn btn-primary';
    }
  }

  jQuery(document).ready(function($) {
    $("#id_disk_offering").on("change", function() {
      status_resize("disk_resize_btn", {{ database.infra.disk_offering.id }}, $(this).val())
    });
    $("#id_disk_offering").change()

    $("#id_vm_offering").on("change", function() {
      status_resize("vm_resize_btn", '{{ current_vm_offering.serviceofferingid }}', $(this).val())
    });
    $("#id_vm_offering").change()

    $("#id_resize_vm_yes").keyup(function() {
      btn = document.getElementById("id_resize_vm_btn_modal");
      btn.disabled = $(this).val() != "yes";
      if (btn.disabled) {
        btn.className = 'btn';
      } else {
        btn.className = 'btn btn-primary';
      }
    });
    $("#id_resize_vm_yes").keyup()

    $("#disk_resize_btn").click(function() {
      var $new_disk_size = $("#id_disk_offering").find(":selected").text().trim()
      $("#resize_disk .modal_message").text('Are you sure you want to resize your disk from <{{ database.databaseinfra.disk_offering.name  }}> to <' + $new_disk_size + '>?')
    });

  })
</script>

{% endblock %}
