{% extends "dashboard/base.html" %}
{% load admin_static infra_capacity %}

{% block content%}
      <div id="content">
        <div class="outer">
          <div class="inner">

			{% for infra in dbinfra %}
			<!-- start infranode -->
			<div class="col-lg-4">
				<div class="box">
					<header>
						<h5>{{ infra.name }}</h5>
						<div class="brand mongo">
							{% if infra.engine_name == 'mongodb' %}
								<img src="{% static "assets/img/MongoDB_logo.png" %}" />
							{% else %}
								<img src="{% static "assets/img/mysql_logo.png" %}" />
							{% endif %}
						</div>
					</header>
				 	<div class="body">
						<div class="row">
							<div class="col-lg-3">
								<img src="{% static "assets/img/mongo.png" %}" />
							</div>
							<div class="col-sm-offset-1 col-lg-8">
								<h6><b>Host:</b> cittavld333</h6>
								<h6><b>Engine:</b> {{ infra.engine_name }}&nbsp;{{ infra.engine.version }}</h6>
								{% if infra.environment.name == 'laboratory' %}
									<h6><b>Environment:</b><li class="label label-default">{{ infra.environment.name }}</li></h6>
								{% elif infra.environment.name == 'dev' %}
									<h6><b>Environment:</b><li class="label label-info">{{ infra.environment.name }}</li></h6>
								{% elif infra.environment.name == 'qa01' %}
									<h6><b>Environment:</b><li class="label label-inverse">{{ infra.environment.name }}</li></h6>
								{% elif infra.environment.name == 'prod' %}
									<h6><b>Environment:</b><li class="label label-success">{{ infra.environment.name }}</li></h6>
								{% endif %}
								<h6><b>Plan:</b> {{ infra.plan.name }}
							</div>
						</div>
							<div class="progress dashboard">
								{% render_progress_bar infra.used infra.capacity %}
							</div>
					</div>
				</div>
			</div>
			<!-- end infranode -->
			{% endfor %}


			<!-- start infranode -->
			<!-- <div class="col-lg-4">
				<div class="box">
					<header>
						<h5>singleMysql</h5>
						<div class="brand mysql"><img src="{% static "assets/img/mysql_logo.png" %}" /></div>
					</header>
				 	<div class="body">
						<div class="row">
							<div class="col-lg-3">
								<img src="{% static "assets/img/mysql.png" %}" style="width: 85px;" />
							</div>
							<div class="col-sm-offset-1 col-lg-8">
								<h6><b>Host:</b> cittavld24</h6>
								<h6><b>Engine:</b> mysql 5.5</h6>
								<h6><b>Environment:</b> <li class="label label-danger">prod</li></h6>
								<h6><b>Plan:</b> Plan medium (single node)
							</div>
						</div>
							<div class="progress mongo">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;" data-original-title="" title="">
									<span>4 of 10</span>
								</div>
							</div>
					</div>
				</div>
			</div> -->
			<!-- end infranode -->



          </div>
          <!-- end .inner -->
        </div>
        <!-- end .outer -->
      </div>
      <!-- end #content -->
{% endblock content %}