{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <ul class="breadcrumb">
            <li>
                <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                <span class="divider">/</span>
            </li>
            <li>
                <a href="{% url 'dashboard.index' %}">{% trans 'Dashboard' %}</a>
                <span class="divider">/</span>
            </li>
        </ul>
    {% endblock %}
{% endif %}

{% block content %}

<h1>Dashboard</h1>

{% if not instances %}
    <h2>No instances found</h2>
{% else %}

<table class="table table-striped">
<tr>
    <th>Instance Name</th>
    <th>Instance Version</th>
    <th>Instance Size (MB)</th>
    <th>Database Name</th>
    <th>Database Size (MB)</th>
<tr>
<tbody>  
{% for instance in instances %}
    {% for database in instance.databases %}
        <tr>
            <td>{{ instance.name }}</td>
            <td>{{ instance.version }}</td>
            <td>{{ instance.size|floatformat:0 }}</td>
            <td>{{ database.name }}</td>
            <td>{{ database.size|floatformat:0 }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% endfor %}

{% endif %}

{% endblock %}
