{% extends "dashboard/base.html" %}
{% load admin_static infra_capacity capacity %}


{% block content%}
      <div id="content">
        <div class="outer">
          <div class="inner">

            <!-- start infranode -->
            <div class="col-lg-13">
                <div class="box">
                    <header>
                        <h5>{{ infra.name }}</h5>
                        <div class="brand mongo">
                            {% if infra.engine_name == 'mongodb' %}
                                <img src="{% static "assets/img/MongoDB_logo.png" %}" />
                            {% else %}
                                <img src="{% static "assets/img/mysql_logo.png" %}" />
                            {% endif %}
                        </div>
                    </header>
                     <div class="body">
                        <div class="row">
                            <div class="col-lg-1">
                                {% if infra.engine_name == 'mongodb' %}
                                    <img src="{% static "assets/img/mongo.png" %}" />
                                {% else %}
                                    <img src="{% static "assets/img/mysql.png" %}" />
                                {% endif %}
                            </div>
                            <div class="col-lg-11 infranode" style="margin-left: 5px;">
                                <h6><b>Host:</b>&nbsp;
                                {% for i in infra.instances.all %}
                                    {% if i.instance_type == i.MONGODB_ARBITER %}
                                        <a href="{%if i.hostname.monitor_url %}{{i.hostname.monitor_url}}{% else %}#{% endif %}" target="_blank"><span class="label label-non-database-instance">{{i.hostname}}</span></a>
                                    {% elif i.instance_type == i.REDIS_SENTINEL %}
                                        <a href="{%if i.hostname.monitor_url %}{{i.hostname.monitor_url}}{% else %}#{% endif %}" target="_blank"><span class="label label-non-database-instance">{{i.hostname}}</span></a>
                                    {% elif i.check_status %}
                                        <a href="{%if i.hostname.monitor_url %}{{i.hostname.monitor_url}}{% else %}#{% endif %}" target="_blank"><span class="label label-success">{{i.hostname}}</span></a>
                                    {% else %}
                                        <a href="{%if i.hostname.monitor_url %}{{i.hostname.monitor_url}}{% else %}#{% endif %}" target="_blank"><span class="label label-danger">{{i.hostname}}</span></a>
                                    {% endif %}
                                {% endfor %}</h6>
                                <h6><b>Engine:</b> {{ infra.engine_name }}&nbsp;{{ infra.engine.version }}</h6>
                                {% if infra.environment.name == 'laboratory' %}
                                    <h6><b>Environment:</b><li class="label label-default">{{ infra.environment.name }}</li></h6>
                                {% elif infra.environment.name == 'qa2' %}
                                    <h6><b>Environment:</b><li class="label label-default">{{ infra.environment.name }}</li></h6>
                                {% elif infra.environment.name == 'dev' %}
                                    <h6><b>Environment:</b><li class="label label-info">{{ infra.environment.name }}</li></h6>
                                {% elif infra.environment.name == 'qa01' %}
                                    <h6><b>Environment:</b><li class="label label-inverse">{{ infra.environment.name }}</li></h6>
                                {% elif infra.environment.name == 'prod' %}
                                    <h6><b>Environment:</b><li class="label label-primary">{{ infra.environment.name }}</li></h6>
                                {% endif %}
                                <h6><b>Plan:</b> {{ infra.plan.name }}
                            </div>
                        </div>
                            <div class="progress dashboard">
                                {% render_progress_bar infra.used infra.capacity %}
                            </div>
                    </div>
                </div>
            </div>
            <!-- end infranode -->

            {% for database in databases %}
            <!-- start datanode -->
            <div class="col-lg-4" style="margin-left: -15px;">
                <div class="box">
                    <header>
                        <h5>
                            <a href= "{{database.get_metrics_url}}" >
                                {{ database.name }}
                            </a>
                        </h5>
                    </header>
                     <div class="body">
                        <div class="row">
                            <div class="col-lg-3">
                                {% if infra.engine_name == 'mongodb' %}
                                    <img src="{% static "assets/img/mongo.png" %}" />
                                {% else %}
                                    <img src="{% static "assets/img/mysql.png" %}" />
                                {% endif %}
                            </div>
                            <div class="col-sm-offset-1 col-lg-8">
                                {% if database.is_in_quarantine %}
                                    <h6><b>Quarantine:</b>&nbsp;{{database.quarantine_dt}}</h6>
                                {% endif %}
                                <h6><b>Team:</b>&nbsp;{{database.team.name}}</h6>
                                <h6><b>Project:</b>{% if database.project.name %}&nbsp;{{database.project.name}}{% else %}&nbsp;--{% endif %}</h6>
                            </div>
                        </div>
                            <div class="progress dashboard">
                                {% render_capacity_html database %}
                            </div>
                    </div>
                    </a>
                </div>
            </div>
            <!-- end datanode -->
            {% endfor %}
          </div>
          <!-- end .inner -->
        </div>
        <!-- end .outer -->
      </div>
      <!-- end #content -->
{% endblock content %}
