{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    <li>
      <a href="{% url 'admin:index' %}">Home</a>
      <span class="divider">/</span>
    </li>

    <li class="active">Sofia Dashboard</li>
  </ul>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <style>
    .grafana_frame {
      display: block;
      background: #000;
      border: none;
      width: 100%;
      height: 1000px;
    }
  </style>
{% endblock %}

{% block content %}

  <iframe id="grafana" class='grafana_frame' src="{{ sofia_dashboard }}"></iframe>

{% endblock %}