{% load admin_static admin_urls bootstrap_template_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Dbaas - Login</title>
    <!--link rel="stylesheet" type="text/css" href="/@@media/main.css"-->

    {# bootstrap #}
    {% block css_commons %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/commons.css" %}" />
    {% endblock css_commons %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap-responsive.min.css" %}" />

    {% block extrastyle %}{% endblock %}

    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />
    {% endif %}

<script type="text/javascript">
    window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";
</script>

    {% block header %}
    {% endblock header %}
</head>
<body>
    <div class="center">
        <div class="container-fluid">
          <div class="row-fluid">
            <div>
              <div class="row-fluid">
                  {% block form_errors %}
                  {% if form.errors %}
                      <div class="alert alert-error">
                      <ul>
                      {% for field in form %}
                        {% if field.errors %}
                          <li>{{ field.errors|striptags }}</li>
                        {% endif %}
                      {% endfor %}
                      </ul>
                      </div>
                  {% endif %}
                  {% endblock %}
                  {% if messages %}
                      {% for message in messages %}
                      <div class="alert alert-{{ message.tags }}">
                      <p>{{ message }}</p>
                      </div>
                      {% endfor %}
                  {% endif %}
                  {% block content %}
                  {% endblock %}
              </div><!--/row-->
            </div><!--/span-->
          </div><!--/row-->
          <hr>
        </div><!--/.fluid-container-->
    </div>

<!-- JAVASCRIPTS -->
</body>
</html>
