{% extends "admin/delete_confirmation.html" %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}

{% block content %}
    {% if perms_lacking or protected %}
        {% if perms_lacking %}
            <p class="errornote alert alert-error fade in">
                <button data-dismiss="alert" class="close" type="button">×</button>
                {% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}
            </p>
            <div class="well">
                <ul>
                {% for obj in perms_lacking %}
                    <li>{{ obj }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if protected %}
            <p class="errornote alert alert-error fade in">
                <button data-dismiss="alert" class="close" type="button">×</button>
                {% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would require deleting the following protected related objects:{% endblocktrans %}
            </p>
            <div class="well">
                <ul>
                {% for obj in protected %}
                    <li>{{ obj }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% else %}
        <p class="errornote alert alert-error fade in">
            <button data-dismiss="alert" class="close" type="button">×</button>
            {% if object.is_in_quarantine %}
                {% blocktrans with escaped_object=object %}Are you sure you want to delete the {{ object_name }} "{{ escaped_object }}" on quarantine? All of the following related items will be DELETED:{% endblocktrans %}
            {% else %}
                {% blocktrans with escaped_object=object %}Are you sure you want to put the {{ object_name }} "{{ escaped_object }}" on quarantine? All of the following related items will be set to quarantine and all credentials will be blocked:{% endblocktrans %}
            {% endif %}
        </p>
        <div class="well">
            <ul>{{ deleted_objects|unordered_list }}</ul>
        </div>
        <form action="" method="post">{% csrf_token %}
            <div>
                <input type="hidden" name="post" value="yes" />
                <div class="form-actions navbar navbar-fixed-bottom">
                    <a class="btn btn-primary pull-left"  href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{% trans "Back to" %} &quot;{{ object|truncatewords:"18" }}&quot;</a>
                    <input class="pull-right btn btn-danger" type="submit" value="{% trans "Yes, I'm sure" %}" />
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}