
/* Box Plan */
#table-parameters th, #table-parameters .parameter_description_cell {
    width: 300px;
}

#table-parameters .new_value_header {
    width: 100px;
}

#table-parameters .type_header {
    width: 10px;
}

#table-parameters .allowed_values, #table-parameters .default_value_header, #table-parameters .custom_value_header {
    width: 120px;
}


p.error_message {
    display: none;
    color: red;
    margin: 0px;
}

.vcheckboxlabel{
    margin: 0;
    display: inline-block;
}

.checkbox_action{
    display: inline-block;
    float: none;
    margin-bottom: 5px: 
}

.plans {
    margin: auto;
}

.plan {
    box-shadow: 3px 3px 7px rgba(50, 50, 50, 0.75);
    /*min-height: 100px;*/
}
.plan:hover {
    background-color: white;
}

.plan-description {
    min-height: 150px;
}

.text-center {
    text-align: center;
}

/* engine type */
/*#result_list td:nth-child(3) {
    width: 10%;
}*/

/* environment */
/*#result_list td:nth-child(4) {
    width: 15%;
}*/

/* status */
#result_list td:nth-child(6) {
    width: 5%;
}

#result_list td:nth-child(7) {
    width: 15%;
}

#result_list td:nth-child(8) {
    width: 10%;
}

#result_list td:nth-child(9) {
    width: 10%;
}

.change-list.database .popover {
    width: 500px;
}

.show-endpoint span {
    vertical-align: middle;
}

.show-upgrade span {
    vertical-align: middle;
}

.show-resize span {
    vertical-align: middle;
}

.sortpriority {
    display:none;
}

[class^="icon-"], [class*=" icon-"] {
    margin-top: 3px;
}

.metrica {
  background-image:linear-gradient(to bottom,#fff,#05a5a5);
}

.metrica:hover {
    background-position: 0 0;
}

[class^="logs"], [class*=" logs"]
{
  background-image:linear-gradient(to bottom,#fff,#15a5a5);
}
