{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_modify dbaas_tags %}
{% load capacity %}
{% block breadcrumbs %}
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>Profile</h1></br>
    {% if user %}
    <div class="well">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Username</td>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>Last login</td>
                    <td>{{ user.last_login }}</td>
                </tr>
            </tbody>
        </table>
        <h2>Teams</h2>
        <span><ul>{% for team in teams %}<li>{{ team.name}}</li>{% endfor %}</ul></span>
        <h2>Roles</h2>
        <span><ul>{% for role in roles %}<li>{{ role.name}}</li>{% endfor %}</ul></span>
        {% if databases %}
        <h2><a href="{% url 'admin:logical_database_changelist' %}" target="_blank">Databases</a></h2>
        {% else %}
        <h2>Databases</h2>
        {% endif %}
        <span>
			{% for database in databases %}
            <ul>
				<li>{{ database.name}}</li>
               	<ul>
                   	<li>Plan: {{ database.databaseinfra.plan.name }}</li>
                   	<li>Environment: {{ database.databaseinfra.environment.name }}</li>
					{% render_capacity_html database %}
               	</ul>
            </ul>
			{% endfor %}
        </span>
    </div>
    {% else %}
        <h3>User not found</h3>
    {% endif %}
</div>
{% endblock %}