#content {
    font-family: 'Titillium Web', sans-serif;
}

.historylink {
    display: none;
}

.box {
    font-family: 'Titillium Web', sans-serif;
    /*#border: 1px solid #000;*/
    padding: 11px;
    background: #f9f9f9;
    margin-left: 0;
    margin-bottom: 10px;
}

.boxtitle {
    margin-top: 0;
}

.icon-magnet {
    margin-top: 4px;
    margin-right: 3px;
}

.size-total {
    float: right;
}
.status {
    margin-top: 10px;
}

.status hr {
    margin: 12px 0;
}

.custom-list {
    width: 892px;
    margin-left: 42px;
    height: 109px;
}

.popover-content {
    word-wrap: break-word;
}

.dashboard-tools h3{
    color: #08c;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 49px;
    background-color: #f5f5f5;
}

#footer .tos {
    font-family: 'Titillium Web', sans-serif;
    padding: 16px;
}

 .switch input {
    margin-top: 10px;
    position: absolute;
    opacity: 0;
  }

  
  .switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    height: 20px;
    width: 30px;
    background: #BDB9A6;
    border-radius: 20px;
    margin-top: 10px;
  }
  
  .switch div {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 1.10px  rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
            transition: all 300ms;
  }
  
  .switch input:checked + div {
    -webkit-transform: translate3d(80%, 0, 0);
       -moz-transform: translate3d(80%, 0, 0);
            transform: translate3d(80%, 0, 0);
  }
  

.iconsdm{
    margin: 10px;
    height: 100%;
    vertical-align: middle;
    margin-top: 14px;
}

.dark-mode-toggle{
    width: 100px;
    display: flex;
}

.alert-center{
    text-align: center;
}