#content {
    font-family: 'Titillium Web', sans-serif;
}

.historylink {
    display: none;
}

.box {
    font-family: 'Titillium Web', sans-serif;
    /*#border: 1px solid #000;*/
    padding: 11px;
    background: #f9f9f9;
    margin-left: 0;
    margin-bottom: 10px;
}

.boxtitle {
    margin-top: 0;
}

.icon-magnet {
    margin-top: 4px;
    margin-right: 3px;
}

.size-total {
    float: right;
}
.status {
    margin-top: 10px;
}

.status hr {
    margin: 12px 0;
}

.custom-list {
    width: 892px;
    margin-left: 42px;
    height: 109px;
}

.popover-content {
    word-wrap: break-word;
}

.dashboard-tools h3{
    color: #08c;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 49px;
    background-color: #f5f5f5;
}

#footer .tos {
    font-family: 'Titillium Web', sans-serif;
    padding: 16px;
}



#dmodechckbox{
    position: fixed;
    top: 6px;
    appearance: none;
    -webkit-appearance : none;
    -moz-appearance : none;
    -o-appearance : none;
    width: 40px;
    height: 20px;
    background: black;
    border-radius: 11px;
    cursor: pointer;
    outline: none;
}
#dmodechckbox::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 17px;
    background-color:white;
    border-radius: 17px;
    top: 2px;
    left: 2px;
    cursor: pointer;
    transition: .3s linear;
}
#dmodechckbox:checked + .container{
  background: rgb(19, 18, 18);
  color: white;
}
#dmodechckbox:checked::before{
    left: 20px;
}
#dmodechckbox:checked{
    background: rgb(12, 177, 81);
}

.iconsdm{
    margin-top: 6px
}