.dropdown-submenu ul.dropdown-menu{
    max-height: 300px;
    overflow: scroll;
}

#result_list td {
	max-width: 250px;	
}

#resources img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
