body.dark{
  background-color: #111;
}

body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark h5{
  color: white;
}

body.dark .action-list{
  color: #eee;
}

body.dark .well{
  background-color: #111;
  border-color: #000;
}

body.dark .subnav *{
  background-color: #000;
}