#dropdown-menu-notification li {
    border-bottom: 1px solid #dddfe2;
}

#dropdown-menu-notification li.new {
    background-color: #edf2fa;
}

.notify-img {
    float: left;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0px 0px 8px 0px;
}

.dropdown-menu .notify-info {
    height: 80px;
    display: flex;
    align-items: center;
}

.notify-label {
    flex: 1;
}

.notify-body {
    flex: 10;
    padding-left: 10px;
}

.notify-body .notify-meta {
    font-size: 12px;
    color: #CCC;
}

.notify-new {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-left: 10px;
}

.notify-new .icon-eye-open {
    display: none;
}

.icon-eye-open.visible {
    display: block;
}

#dropdown-menu-notification .dropdown-menu {
    max-height: 221px;
    overflow-y: auto;
}

#dropdown-menu-notification .no-notification {
    width: 200px;
    font-size: 17px;
    height: 22px;
    font-weight: bold;
    text-align: center;
}

.notify-description {
    font-weight: bold;
}

#dropdown-menu-notification .dropdown-toggle {
    color: #999;
    -webkit-transition-delay: -1s;
    -moz-transition-delay: -1s;
    -o-transition-delay: -1s;
    transition-delay: -1s;
}

#dropdown-menu-notification .uni {
    -webkit-transition-duration: 3s;
    -moz-transition-duration: 3s;
    -o-transition-duration: 3s;
    transition-duration: 3s;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
}

#dropdown-menu-notification .dropdown-toggle.active {
    color: #FFF;
}

#dropdown-menu-notification .dropdown-toggle:hover {
    color: #FFF;
    text-decoration: none;
}

.notify-text {
    font-size: 15px;
    margin-right: 10px;
    vertical-align: middle;
}

.text-white {
    color: #FFF;
}