{% extends "dashboard/base.html" %}


{% block content%}
      <div id="content">
        <div class="outer">
          <div class="inner">
			<!-- start infranode -->
			<div class="col-lg-12">
				{% for search in page.object_list %}
					
					object: {{ search.object.name }}<br />
					Infra: {{ search.object.infra }}<br />
					Project: {{ search.object.project }}<br />
					Team: {{ search.object.team }}<br /><br />
					
				{% endfor %}
			</div>
			<!-- end infranode -->
          </div>
          <!-- end .inner -->
        </div>
        <!-- end .outer -->
      </div>
      <!-- end #content -->
{% endblock content %}