<h2>Database {{database.name}} is almost full</h2>
<br>
The Database <a href="{{database_url}}">{{database.name}}</a> in
{{environment}} environment is {{percent}}% in use.
<br><br>
It is using {{used|floatformat}} {{measure_unity}} of {{capacity}} {{measure_unity}}
<br><br>
{% if team.email %}
You are receiving this email because in our records you are in team {{ team.name }}.<br>
If this is not right, contact the Dbaas system administrators.
{% else %}
<h3>Team {{ team.name }} has no email set!</h3>
{% endif %}
<br><br><br>
Regards,<br>
Dbaas notification robot<br>
{{domain}}<br>
