<h2>Database {{database.name}} disk was resized</h2>

{% if new_disk_offering.is_last_auto_resize_offering %}
<font color="red">This is the <b><u>final</u></b> disk auto resize. You must contact your DBA.</font>
<br><br>
{% endif %}

The Database <a href="{{database_url}}">{{database.name}}</a> in {{database.environment}} environment was almost full ({{usage_percentage}}% in use).<br><br>
It was automatically resized from {{database.databaseinfra.disk_offering}} to {{new_disk_offering}}.
<br><br>
{% if database.team.email %}
You are receiving this email because in our records you are in team {{ database.team.name }}.<br>
If this is not right, contact the DBaaS system administrators.
{% else %}
<h3>Team {{ database.team.name }} has no email set!</h3>
{% endif %}
<br><br><br>
Regards,<br>
DBaaS notification robot<br>
{{domain}}<br>

