{% if is_execution_warning %}
{% include "email_extras/task_warning.html" %}
<br/>
{% elif is_new %}
{% include include_template_name_html %}
<br/>
{% if is_ha %}
Do not worry about that, the database WILL BE available during this process.<br/>
{% else %}
The database WILL BE unavailable during this process.<br/>
{% endif %}
<br/>
{% include "email_extras/task_information.html" %}
<br/>
{% else %}
{% include "email_extras/task_updated.html" %}
<br/>
{% endif %}
{% include "email_extras/bottom.html" %}
