{% if is_execution_warning %}
{% include "email_extras/task_warning.html" %}
<br/>
{% elif is_new %}
{% include include_template_name_html %}
<br/>
{% if is_ha %}
Do not worry about that, the database will be available during this process.<br/>
{% else %}
During the maintenance the database will be <b>unavailable</b>.<br/>
{% endif %}
<br/>
{% include "email_extras/task_information.html" %}
<br/>
{% else %}
{% include "email_extras/task_updated.html" %}
<br/>
{% endif %}
{% include "email_extras/bottom.html" %}
